/* .articles > *, .article > *, .title {
    border: 2px solid black;
} */

.article{
    padding-top: 5%;
    background-color: #fafafa;
    display: grid;
    justify-content: center;
}

.title__container{
    position: relative;
    /* width: 100%; */
    /* margin-block: 1%; */
}
.title{
    text-align: center;
    font-size: 6rem;
}

.article-two{
    width: 100vw;
    margin-block: 5%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    justify-items: center;
    align-items: center;
    position: relative;
    min-width: 400px;
    min-height: 500px;
    font-family: alte-regular;
    margin-bottom: 10%;
    gap: 10%;

    .text{
        display: grid;
        max-width: 1200px;
        grid-template-columns: 1fr 1fr;
        gap: 10%;

        .text__column{
            display: grid;
            gap: 1lh;
        }
        
        p{
            margin: 0;
        }
        .paragraph{
            .temp__box{
                /* background-color: aquamarine; */
                position: relative;
                width: 190px;
                height: 210px;

            }
            .temp__box--right{
                float: right;
            }
            .temp__box--left{
                float: left;
            }
            p{
                min-width: 300px;
            }
            
        }
    }
}
.title__container{
    display: flex;
    align-items: center;
    .title{
        margin: 0;
        text-align: justify;
        position: absolute;
        font-size: 2.5rem;

        p{
            display: grid;
            line-height: 2lh;
        }
        .situated{
            font-size: clamp(5rem, 280% + 1rem, 9rem);
            font-family: alte-bold;
            line-height: 1lh;
        }
        .resistance{
            font-size: clamp(3rem, 200% + 1rem, 6rem);
            font-family: alte-bold;
            line-height: 1lh;
        }
        .obvious{
            width: 100%;
            line-height: .3lh;
            font-family: alte-regular;
            font-size: clamp(2rem, 78% + 1rem, 5rem);
        }
    }
}


.article-three{
    max-width: 800px;
    margin-block: 5%;
    display: grid;
    justify-items: center;
    gap: 2%;
    position: relative;
    min-width: 400px;
    min-height: 500px;
    font-family: alte-regular;
    margin-bottom: 10%;

    .text{
        max-width: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10%;

        .paragraph{
            p{
                margin: 0;
            }
            .temp__box{
                /* background-color: aquamarine; */
                position: relative;
                width: 190px;
                height: 220px;
                top: 0;
                .title__container{
                    .title{
                        margin: 0;
                        text-align: justify;
                        position: absolute;
                        left: 3%;
                        top: 10%;
                        font-size: clamp(2rem, 5.3rem, 6rem);
                        line-height: 2lh;
                        p{
                            text-wrap: pretty;
                            hyphenate-limit-chars: 7;
                            display: grid;
                        }
                        .second{
                            font-size: clamp(5rem, 5rem, 9rem);
                            font-family: alte-regular;
                        }
                        .energy{
                            font-size: clamp(1rem, 2.2rem, 6rem);
                            font-family: alte-regular;
                            line-height: 3rem;

                        }
                    }
                }
            }
            .temp__box--right{
                float: right;
            }
            .temp__box--left{
                float: left;
            }
            p{
                min-width: 300px;
            }
            
        }
    }
}

.figure__article--one{
    position: fixed;
    top: 0;
    z-index: -1;
}

.figure__article--two{
    position: sticky;
    top: 100%;
    transform: translate(0, -100%);
    z-index: -1;
}

.patagraph{
    .par{
        text-wrap: inherit;
        text-align-last: left;
    }

}