<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="estudio, diseño, autonomía, nómada, comunidad, reconocimiento, ficción, anarquía, acción, cuestionamiento, antisistema">
	<meta name="description" content="Estudio nómada experimental que busca cuestionar y transformar realidades a partir de la ficción y el reconocimiento">
	<meta name="author" content="Diseño Detonante">
	<meta property="og:type" content="website">
	<meta property="og:url" content="#">
	<meta property="og:title" content="Diseño Detonante">
	<meta property="og:description" content="Estudio nómada experimental que busca cuestionar y transformar realidades a partir de la ficción y el reconocimiento">
	<meta property="og:image" content="./assets/img/meta.JPG">

	<title>Diseño Detonante</title>
	<link type="image/svg" rel="icon" href="assets/icons/LLAMITA.svg">

	<link rel="stylesheet" href="style/style.css">
	<link rel="stylesheet" href="style/style_menu.css">
	<link rel="stylesheet" href="style/contacto.css">
	<link rel="stylesheet" href="style/audiovisual.css">
	<link rel="stylesheet" href="assets/fonts/montserrat-font_T/Montserrat.css">
	<link rel="stylesheet" href="assets/fonts/alte_haas_grotesk_T2/AlteHaasGrotesk.css">
	<link rel="stylesheet" href="assets/fonts/rozha-one/rozha-one.css">
	<script type="text/javascript" src="script/script_backend.js"></script>
</head>
<body class="background">
	<div class="preloader">
		<span class="loader"></span>
		<img class="load__logo" src="assets/icons/LLAMITA_PL.svg" alt="Logo Diseño Detonante">
	</div>
	<header class="header">
		<div class="header__container">
			<a class="container__logo" href="#">
				<img class="header__logo hlogo--color" src="assets/icons/LLAMITA.svg" alt="Logo Diseño Detonante">
				<p>Diseño <strong>Detonante</strong></p>
			</a>
		</div>
		<nav class="header__nav">
			
			<label class="nav__label">
				<input class="checkbox" type="checkbox">
			</label>
			<ul class="nav__list">
				<li class="list__item"><a class="item__link" href="#">INICIO</a></li>
				<li class="list__item"><a class="item__link" href="#nosotrxs">NOSOTRXS</a></li>
				<li class="list__item"><a class="item__link" href="#ejes">ACCIONARES</a></li>
				<li class="list__item"><a class="item__link" href="#intension">IN/TENSION</a></li>
				<li class="list__item item--button" onclick="modal('../assets/img/nodos/editorial.webp')"><img src="assets/icons/send-horizontal.svg"></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<div class="inicio">
				<video class="inicio__element" autoplay muted loop onmouseover="this.play();">
					<source class="video" type="video/mp4" src="assets/Video/REEL.webm">
				</video>
				<div class="separador glitch__container">
					<video autoplay muted onmouseover="this.play()" class="inter__element normal">
						<source id="video-glitch" class="video" type="video/webm" src="assets/Video/Glitch.webm">
					</video>
					<video autoplay muted loop class="inter__element responsive">
						<source class="video" type="video/webm" src="assets/Video/Glitch_responsive.webm">
					</video>
				</div>
				<!-- <div class="text__container">
					<p class="inicio__banner">
						<span class="p">Diseño nómada como<br> práctica política de<br> re existencia.</span>
					</p>
				</div> -->
			</div>
		</section>

		<section id="nosotrxs">
			<div class="section__found found__gradient-init">
				<!-- <div class="dibujo__container">
					<img class="dibujo" src="assets/img/g4.webp" alt="dibujos de ratas yuxtapuestos a retrato">
				</div> -->
				<div class="section section__div">
					<div class="section__div-image">
						<img class="image__item" src="assets/img/Nosotrxs.webp" alt="retrato - nosotrxs">
						<!-- <img class="dibujo" src="assets/img/g3.webp"> -->
					</div>
					<div class="color__base">
					</div>
					<div class="section__div-title">
						<p class="title__item" >
							Nosotrxs
						</p>
					</div>
					<div class="section__div-paragraph">
						<p class="paragraph__item" >
							Somos un estudio nómada experimental. Cuestionamos "El Diseño", sus formas y apellidos.
							Detonamos ficciones, diseños otros, no diseños, criaturas mutantes y monstruosas.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section id="ejes">
	
		</section>
		<!-- <div class="separador glitch__container">
			<video autoplay muted onmouseover="this.play()" class="inter__element normal">
				<source id="video-glitch" class="video" type="video/webm" src="assets/Video/Glitch.webm">
			</video>
			<video autoplay muted loop class="inter__element responsive">
				<source class="video" type="video/webm" src="assets/Video/Glitch_responsive.webm">
			</video>
		</div> -->
		<div class="pages__container">
			<div class="pages">
				<div  class="box-uno, section__ejes">
					<div class="section__groups--scroll">
					</div>
					<div  class="section__groups">
						<!-- <div class="section__title">
							<div class="indicator"></div>
							<img class="process__icon" src="assets/icons/LLAMITA.svg">
						</div> -->
						<div class="section__container">
							<div class="container__item item--talleres item--border-right-none" onclick="modal('assets/img/nodos/DevenirPresentes.webp')">
								<div class="container__text">
									<h2 class="text__box box__title">Talleres</h2>
								</div>
								<div class="container__text">
									<p class="text__box box__paragraph">We'll evaluate your competitors' websites based on a set of defined standards to help understand the competition: what has worked, what has not worked and what are the actionable insights.</p>
								</div>
			<!--					<div class="container__icon">
									<img class="box__icon" src="assets/icons/LLAMITA.svg" alt="ícono nodo de acción - talleres">
								</div>-->
								<figure>
									<img class="container__img talleres__img" src="assets/img/nodos/DevenirPresentes.webp" alt="fotografía - talleres">
								</figure>
							</div>
							<div class="container__item item--espacios item--border-right-none" onclick="modal('assets/img/nodos/biblio.webp')">
								<div class="container__text">
									<h2 class="text__box box__title">Espacios</h2>
								</div>
								<div class="container__text">
									<p class="text__box box__paragraph">We'll evaluate your competitors' websites based on a set of defined standards to help understand the competition: what has worked, what has not worked and what are the actionable insights.</p>
								</div>
			<!--					<div class="container__icon">
									<img class="box__icon" src="assets/icons/LLAMITA.svg" alt="ícono nodo de acción - bibliotecas">
								</div>-->
								<figure>
									<img class="container__img" src="assets/img/nodos/biblio.webp" alt="fotografía bibliotecas">
								</figure>
							</div>
							<div class="container__item item--audiovisuales item--border-right-none" onclick="modal('assets/img/nodos/audiovisual.webp')">
								<div class="container__text">
									<h2 class="text__box box__title">Audiovisual</h2>
								</div>
								<div class="container__text">
									<p class="text__box box__paragraph">We'll evaluate your competitors' websites based on a set of defined standards to help understand the competition: what has worked, what has not worked and what are the actionable insights.</p>
								</div>
			<!--					<div class="container__icon">
									<img class="box__icon" src="assets/icons/LLAMITA.svg" alt="ícono nodo de acción - audiovisuales">
								</div>-->
								<figure>
									<img class="container__img" src="assets/img/nodos/audiovisual.webp" alt="fotografía - audiovisuales">
								</figure>
							</div>
							<div class="container__item item--editorial" onclick="modal('assets/img/nodos/editorial.webp')">
								<div class="container__text">
									<h2 class="text__box box__title">Gráfico y<br>Editorial</h2>
								</div>
								<div class="container__text">
									<p class="text__box box__paragraph">We'll evaluate your competitors' websites based on a set of defined standards to help understand the competition: what has worked, what has not worked and what are the actionable insights.</p>
								</div>
			<!--					<div class="container__icon">
									<img class="box__icon" src="assets/icons/LLAMITA.svg" alt="ícono nodo de acción - editorial">
								</div>-->
								<figure>
									<img class="container__img" src="assets/img/nodos/editorial.webp">
								</figure>
							</div>
						</div>
						<div class="org__links">
							<div class="container__slider">
								<div class="barra__logos">
									<!-- {% for cop in [1, 2] %}
										{% for logo_o in logo %}
											<div class="logos__item"><img class="item--img img--{{logo_o}}" src=http://localhost:8000/static/assets/logos/{{logo_o}}.png alt="logotipo - {{logo_o}}"></div>
										{% endfor %}
									{% endfor %} -->
									<div class="logos__item"><img class="item--img img--StudioTEOTW" src="assets/logos/StudioTEOTW.png" alt="logotipo - StudioTEOTW"></div>
									<div class="logos__item"><img class="item--img img--APIIDTT" src="assets/logos/APIIDTT.png" alt="logotipo - APIIDTT"></div>
									<div class="logos__item"><img class="item--img img--Quijote" src="assets/logos/Quijote.png" alt="logotipo - Quijote"></div>
									<div class="logos__item"><img class="item--img img--RPMasc" src="assets/logos/RPMasc.png" alt="logotipo - RPMasc"></div>
									<div class="logos__item"><img class="item--img img--MujeresLibres" src="assets/logos/MujeresLibres.png" alt="logotipo - MujeresLibres"></div>
									<div class="logos__item"><img class="item--img img--PazALP" src="assets/logos/PazALP.png" alt="logotipo - PazALP"></div>
									<!--<div class="logos__item">MultiCartonera</div>-->
									<div class="logos__item"><img class="item--img img--StudioTEOTW" src="assets/logos/StudioTEOTW.png" alt="logotipo - StudioTEOTW"></div>
									<div class="logos__item"><img class="item--img img--APIIDTT" src="assets/logos/APIIDTT.png" alt="logotipo - APIIDTT"></div>
									<div class="logos__item"><img class="item--img img--Quijote" src="assets/logos/Quijote.png" alt="logotipo - Quijote"></div>
									<div class="logos__item"><img class="item--img img--RPMasc" src="assets/logos/RPMasc.png" alt="logotipo - RPMasc"></div>
									<div class="logos__item"><img class="item--img img--MujeresLibres" src="assets/logos/MujeresLibres.png" alt="logotipo - MujeresLibres"></div>
									<div class="logos__item"><img class="item--img img--PazALP" src="assets/logos/PazALP.png" alt="logotipo - PazALP"></div>
									<!--<div class="logos__item">MultiCartonera</div>-->
								</div>
							</div>
						</div>
					</div>
	
					<!-- <img class="page__image" src="assets/img/biblioteca_2.webp" alt="Primera biblioteca terminada / burbujas de autonomía."> -->
				</div>
				<div class="box-dos">
					<div class="text__container">
						<p class="inicio__banner">
							<span class="p">Ficción mutante, como<br> impulso radical de<br> realidades.</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	
		<!-- <section>
			<div class="section black">
			</div>
		</section> -->
		<section id="intension">
			<div class="">
				<div class="section section__div black">
					<div class="section__div-image">
						<img class="img-mult front" src="assets/img/zine/the_urmadic_3.webp" alt="Imagen portada in-tension">
						<div class="img-mult back">
							<img src="assets/img/zine/tiraurmadic.webp" alt="contenido In-tension">
							<img src="assets/img/zine/tiraurmadic.webp" alt="contenido In-tension">
						</div>
	
						<!-- <img class="img-mult" src="assets/img/zine/the_urmadic_3.webp"> -->
					</div>
					<div class="section__div-title">
						<div class="title__item" >
							<img class="logo__item" src="assets/logos/TheUrmandicaZine.png">
						</div>
					</div>
					<div class="section__div-paragraph">
						<p class="paragraph__item" >
							Este es el texto que tendremos en cada sección en modo de descripción de la misma.
							Lo que se quiere con esta es que sea una especie de portada general en cada parte global.
						</p>
					</div>
				</div>
			</div>
		</section>
		<div class="separador">
		</div>
		<section id="theurmadic">
			<div class="">
				<div class="section section__div black">
					<div class="section__div-image">
						<img class="img-mult front" src="assets/img/zine/the_urmadic.webp" alt="Imagen portada in-tension">
						<div class="img-mult back">
							<img src="assets/img/zine/tiraurmadic.webp" alt="contenido In-tension">
							<img src="assets/img/zine/tiraurmadic.webp" alt="contenido In-tension">
						</div>
	
						<!-- <img class="img-mult" src="assets/img/zine/the_urmadic_3.webp"> -->
					</div>
					<div class="section__div-title">
						<div class="title__item" >
							<img class="logo__item" src="assets/logos/TheUrmandicaZine.png">	
						</div>
					</div>
					<div class="section__div-paragraph">
						<p class="paragraph__item" >
							Este es el texto que tendremos en cada sección en modo de descripción de la misma.
							Lo que se quiere con esta es que sea una especie de portada general en cada parte global.
						</p>
					</div>
				</div>
			</div>
		</section>
		<div class="separador">
		</div>
		<section class="section audiovisual__section">
			<p class="section__title">MOVIMIENTO</p>
			<div class="container">
				<div class="controls box">
					<figure class="mutante__icon">
						<img class="mutante__icon" src="assets/icons/audiovisuales/MUTANTE.svg" alt="logo de cortometraje Mutante">
					</figure>
					<p class="paragraph__item" >
						Este es el texto que tendremos en cada sección en modo de descripción de la misma.
						Lo que se quiere con esta es que sea una especie de portada general en cada parte global. 
					</p>
					<div class="controls__container">	
						<div class="controls__button">
							<img class="controls__button" src="assets/icons/multimedia/share-2.svg" alt="icono compartir cortometraje">
						</div>
						<div class="controls__button">
							<img class="controls__button button-back" src="assets/icons/multimedia/fast-forward.svg" alt="icono anterior cortometraje">
						</div>
						<div class="controls__button button-play">
							<img class="controls__button button-play" src="assets/icons/multimedia/play.svg" alt="icono reproducir cortometraje">
						</div>
						<div class="controls__button">
							<img class="controls__button" src="assets/icons/multimedia/fast-forward.svg" alt="icono siguiente cortometraje">
						</div>
						<div class="controls__button">
							<img class="controls__button" src="assets/icons/multimedia/library.svg" alt="icono de ir a librería o más contenido">	
						</div>
					</div>
				</div>
				<div class="image box">
					<figure class="mutante__img">
						<img class="mutante__img" src="assets/img/nodos/audiovisual/mutante_mapa.jpg" alt="fotograma cortometraje Mutante">
					</figure>
				</div>
				<div class="data box">
					<div class="data__content">
						<img class="content__logo" src="assets/logos/Quijote.png" alt="logo quijote">
						<p class="paragraph__item">
							Este es el texto que tendremos en cada sección en modo de descripción de la misma.
							Lo que se quiere con esta es que sea una especie de portada general en cada parte global. 
						</p>
					</div>
					<div class="menus__container">	
						<div class="menu involucradxs">
							<img class="menu__icon icon__involucradxs" src="assets/icons/multimedia/origami.svg" alt="icono Involucradxs">
							<p class="menu__name">Involucradxs</p>
						</div>
						<div class="menu creacion">
							<img class="menu__icon icon__creacion" src="assets/icons/multimedia/clapperboard.svg" alt="icono Realización">
							<p class="menu__name">Realización</p>
						</div>
						<div class="menu referencias">
							<img class="menu__icon icon__referencias" src="assets/icons/multimedia/waypoints.svg	" alt="icono Referencias">
							<p class="menu__name">Referencias</p>	
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- <section id="audiovisual">
				<div class="section section__video invert black">
					<div class="section__div-image">
						<img class="vid__img img-mult" src="assets/img/zine/the_urmadic_3.webp">
						<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
						<div class="vid-mult">
							<div class="wistia_embed wistia_async_tjt8h0uypv videoFoam=true">
								<img class="vid-mult" src="https://fast.wistia.com/embed/medias/tjt8h0uypv/swatch" />
							</div>
						</div>
						<div class="vid__img">
							<div class="mutante"><img class="logo__item mutante" src="assets/icons/audiovisuales/MUTANTE.svg" alt="logo cortometraje"></div>
							<p class="paragraph__item" >
								Este es el texto que tendremos en cada sección en modo de descripción de la misma.
								Lo que se quiere con esta es que sea una especie de portada general en cada parte global. 
							</p>
						</div>
					</div>
					<div class="section__div-title">
						<div class="title__item" >
							<a class="text__content  title--left" href="pages/in-tension.html"><img class="logo__item mutante" src="assets/icons/audiovisuales/MUTANTE.svg"></a>
						</div>
					</div>
					<div class="section__div-paragraph">
						<p class="paragraph__item" >
							Este es el texto que tendremos en cada sección en modo de descripción de la misma.
						</p>
					</div>
				</div>
		</section> -->
		<div class="separador separador__final">
			<!-- <div class="text__container">
				<p class="inicio__banner banner--2">Ficción mutante como<br>
				impulso radical de<br> realidades.</p>
			</div> -->
		</div>
		<section class="section__footer">
			<button class="com__button">comunidad</button>
		</section>	

	</main>

	<dialog class="modal modal-style">
		<div class="modal__container">
			<div class="modal__content">
				<form method="POST" action=/users/add class="form contact__form">
					<p class="title--mod form__title">¡Detónese!</p>
					<div class="form__item">
						<div class="form__item">
							<input id="name" class="item__input" type="text" name="username" placeholder="Nombre / pseudónimo." value="Dessagrado" spellcheck="false" required>
						</div>
						<div class="form__item" >
							<input id="organization" class="item__input" type="text" name="organization" placeholder="Colectividad / organización." value="Monstruosa" spellcheck="false">
						</div>
						<div class="form__item" >
							<input id="email" class="item__input" type="email" name="email" placeholder="Correo electrónico." value="dessagrado@gmail.com" spellcheck="false" required>
						</div>
						<div class="form__item" class="form__item" >
							<select id="project" class="item__input" name="subject">
								<option value="In/Tension" selected>In/Tension</option>
								<option value="Monstruosa">Monstruosa</option>
								<option value="Burbujas de autonomía">Burbujas de autonomía</option>
								<option value="Ficción Mutante">Ficción Mutante</option>
								<option value="Lumbre en el viento">Lumbre en el viento</option>
							</select>
						</div>
						<div class="form__item">
							<textarea id="message" class="item__textarea" name="message" rows="6" placeholder="Escríbanos sus ideas, reflexiones, preguntas, comentarios, etc." spellcheck="false">Espero poder participar en uno de sus proyectos, escribo para poder estar informadx de lo que se viene.</textarea>
						</div>
					</div>
					<input id="check_button" class="modal__button button__action button__send" type="submit" value="">
					<button class="modal__button button__action button__send"><img src="assets/icons/send-horizontal.svg"></button>
					<button id="close_button" class="modal__button button__close" onclick="closeModal()"><img src="assets/icons/x.svg" alt="sendbutton"></button>
				</form>
				<form class="form donate__form">
					<p class="title--mod form__title">Control</p>
					<div class="form__item">
						<div class="form__item">
							<input id="key" class="item__input" type="number" placeholder="Código" required>
						</div>
						<div class="form__item" >
							<p class="print"></p>
						</div>
					</div>
					<button class=" button__close  button__showdonate" onclick="ShowControl()"><img src="assets/icons/x.svg" alt="closebutton"></button>
					<button id="" class="modal__button button__action button__get" onclick="Get()"><img src="assets/icons/target.svg"></button>
					<button id="" class="modal__button button__action button__put" onclick="Put()"><img src="assets/icons/chevrons-left-right-ellipsis.svg"></button>
					<button id="check_button" class="modal__button button__action button__delete" onclick="Delete()"><img src="assets/icons/trash-2.svg"></button>
				</form>
			</div>
		</div>
	</dialog>
	<script type="text/javascript" src="script/script.js"></script>
	
</body>
</html>
