/*
body{
    display: flex;
    background-color: #161616;
    margin: 0;
    color: #b1b1b1;
}

header{
    background: #000000;
}*/

.modal__container {
    display: flex;
    justify-content: center;
    position: fixed;
    color: #b1b1b1;
    background-color: #00000077;
    border: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 20;
/*     display: none; */

}

.form {

    background-color: #121212;
    width: 500px;
    min-width: 300px;
    height: 400px;
    margin: 2vw;
    margin-top: 50vh;
    transform: translate(0, -50%);
    box-shadow: 0px 0px 25px #0007;
    /*     border: #17fff7 solid 1px; */
    border-radius: 10px;
    padding: 50px 0px;
}

.form__title {
    font-family: alte_bold;
    font-size: 3em;
    text-align: center;
    margin: 30px 50px;
}

.form__item {
    padding: 6px 20px;
}

.item__input, .item__textarea{
    box-sizing: border-box;
    color: #959595;
    background-color: #151414;
    width: 100%;
    padding: 6px 12px;
    border: #272727 solid 2px;
    border-radius: 5px;

}

.item__textarea {
    resize: none;
}

.button--close {
    cursor: pointer;
    font-family: alte_bold;
    color: #787878;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    border: none;
    background-color: #111111;
/*    width: 35px;
    height: 35px;*/
    left: 1em;
    top: 1em;
}

.button--open {
    margin: 0 3em;

}


