
.hlogo--color, .hicon--color {
    filter: invert(0%)
}

.hlogo--color.inv, .hicon--color.invert {
    filter: invert(100%);
}

.header.abajo{
    background: #ffffff;
/*    padding: 15px 20px;*/

    .item__link{
        color: #000000;
    }
    .item__link:hover {
        color: #a202ff;
    }
    .didetonante {
        color: #000000;
    }
}

.contenido {
    height: 500vh;
}
