*{
/* box-sizing: border-box; */
text-decoration: none;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    margin: 0;
}

body::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.background {
    background: fixed #0d0d0d;
}
.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}

.load__logo {
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
    z-index: 1200;
}

@keyframes loader {

    0% {
        transform: matrix(1, 0, 0, 1, -25, -25);
        opacity: 0;
        border-color: #ff00ff;
    }

    25% {
        transform: matrix(1.5, 0, 0, 1.5, -25, -25);
        opacity: 1;
        border-color: #b100ff;
    }

    50% {
        transform: matrix(2, 0, 0, 2, -25, -25);
        opacity: 1;
        border-color: #ff00ff;
    }
    100% {
        transform: matrix(2.5, 0, 0, 2.5, -25, -25);
        border-color: #ff00ff;
        opacity: 0;
    }
}
.loader::after,
.loader::before {
    content: "";
    border: 2px solid white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: absolute;
    animation: loader 2s linear infinite;


}

.loader::after {
    opacity: 0;
    animation-delay: 1s;
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 1000;
}

.header .container__logo{
    font-family: mont;
    position: relative;
    color: #f5f5f5;
    font-size: 1.5em;
    transition: 1.5s;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.hlogo--color {
    width: 40px;
    margin: 07px;
    filter: saturate(0%) brightness(4000%) ;
    transition: 1.5s;
}
.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__item{
    list-style: none;
    a:hover {
        color: #deff0b;
    }
}

.item__link{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #f5f5f5;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;

}

.item--button {
    padding: 0.3em 2em;
    border-radius: 5px;
    border: solid 1px #00000000;
    transition: 0.5s;
    cursor: pointer;
}
.item--button:hover {
    filter: sepia(86%) saturate(1695%) hue-rotate(15deg) brightness(107%) contrast(105%);
}

.header.abajo{
    background: #000000;
    border-bottom: 1px solid #f5f5f5;
    padding: 5px 20px;

    .item__link{
        color: #f5f5f5;
    }
    .item__link:hover {
        color: #deff0b;
    }
    .hlogo--color.inv {
        filter: saturate(100%) brightness(4000%) ;
    }
}

.header.arriba{
    background: rgba(0, 0, 0, 0);
    padding: 30px 20px;
}

/* ----------- S E C C I O N E S --------------*/

.inicio {
    height: 100vh;
    .text__container {
        position: absolute;
        width: 100vw;
        height: 200vh;
        background-color: rgb(0, 0, 0, 80%);
        display: flex;
        justify-content: center;
        z-index: 1;
        .inicio__banner {
            color: #ceff1d;
            font-size: 9em;
            font-family: alte_bold;
            font-weight: bold;
            align-items: center;
            top: 12%;
        }
    }
    .inicio__element {
        position: fixed;
        z-index: 0;
    }
    .inicio__element.out__section{
        display: none;
    }
    .inicio__element.view__section{
        display: flex;
    }
    .inicio__element.out__section-2{
        display: none;
    }
    .inicio__banner.out__section{
        display: none;
    }
}

.section {
    position: relative;
    background-color: #fefefe;
    width: 90%;
    max-width: 1700px;
    min-height: 800px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
/*    border:1px solid #fefefe ;*/
    overflow: hidden;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr .5fr;
    box-shadow:  150px 0 80px #0b0b0bcc, -150px 0 80px #0b0b0bcc;
    z-index: 100;

    .section__div-image {
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        .image__item, .img-mult {
            position: relative;
            height: 600px;
        }
    }
    .image-left {
        justify-content: left;
    }
    .section__div-title, .section__div-paragraph {
        display: grid;
        margin: 0 10%;
        align-content: center;
        justify-items: center;
        .title__item {
            position: relative;
            font-family: alte;
            font-weight: bold;
            font-size: 4em;
            .logo__item {
                width: 30%;
            }
        }
        .paragraph__item {
            font-family: mont;
            font-weight: medium;
            text-align: right;
            font-size: 1.2em;
        }
    }
}

.invert {
    grid-template-rows: .5fr 1.5fr;
    .section__div-title {
        order: 2;
    }
    .section__div-paragraph {
        .paragraph__item {
            text-align: left;
        }
    }
    .section__div-image {
        order: 3;
    }
}

.black {
    background-color: #0b0b0b;
    color: #fefefe;
}

@media (max-width:1000px){

    section {
        grid-template-columns: 1fr;
        .section__div-title, .section__div-paragraph {
            margin: 0;
            width: 100%;
        }
        .section__div-paragraph {
            display: none;
        }
    }
}

/*---------------------------------------------------------------*/

.separador {
    position: relative;
    width: 100vw;
    height: 700px;
    background-color: #0b0b0b00;
}
.glitch__container {
/*     background-color: #0b0b0b; */
    position: relative;
    width: 100vw;
    height: 700px;
    .inter__element {
        margin: 0;
        padding: 0;
        margin-left: 0;
        position: fixed;
        top: 0;
        display: none;
    }
}
.inter__element.glitch {
    z-index: 30;
    display: block;
}
.inter__element.none {
    z-index: 0;
    display: none;
}

@media (max-width:1300px){
    .glitch__container {
        position: relative;
        width: 100vw;
        height: 900px;
        .inter__element {
            position: sticky;
            height: 120px;
            transform: translate(0, -100%);
            .gif {
                width: 100vw;
            }
        }
    }
}
.section__ejes {
    background-color: #0b0b0b;
    display: grid;
    min-height: 1000px;
/*     justify-content: left; */
    align-content: center;
    z-index: 5;

    .section__title {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: alte_bold;
        font-size: 1em;
        color: #f5f5f5;
        width: 300px;
        height: 100px;
        left: -3%;
        bottom: 50%;
        transform: rotate(0.75turn);
        .indicator {
            position: absolute;
            width: 10px;
            height: 10px;
            top: 100px;
            background-color: #ff00ff;
            border-radius: 50%;
        }
    }

    .section__groups {
        position: fixed;
        width: 90%;
        height: 100vh;
        right: 50%;
        display: grid;
        align-content: center;
        top: 0;
        right: 0;
        display: none;

        .section__container {
            width: 100vw;
            height: 450px;
            overflow-y: hidden;
            display: grid;
            grid-template-columns: 300px 300px 300px 300px 300px;
            scroll-behavior: auto;
            gap: 1%;

            .container__item {
                cursor: pointer;
                position: relative;
                background-color: #141414;
                transition-duration: .5s;
                border-radius: 20px;
                height: 23rem;
                top: 10%;
                .text__box {
                    color: #f5f5f5;
                    margin: 2em 2em 0 25px;
                }
                .box__title {
                    position: absolute;
                    font-family: helvetica;
                    transition-duration: .5s;
                    font-size: 2em;
                }
                .box__paragraph {
                    position: absolute;
                    height: 300px;
                    font-size: 1.1em;
                }
                .container__image{
                    position: absolute;
                    width: 100%;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition-duration: .3s;
                    top: -25%;


                }
                .container__text {
                    height: 100px;
                    padding: 0 1em 0 1em;
                }
                .box__icon {
                    position: absolute;
                    filter: saturate(0%) brightness(4000%);
                    transition-duration: .5s;
                    width: 18%;
                }
            }
            .container__item:hover {
                background-color: #191919;
                .box__icon {
                    width: 20%;
                }
            }
        }

        .org__links {
            position: relative;
            width: 100vw;
            height: 150px;
            overflow: hidden;
            border-left: 1px solid #ffffff55;
        }
        .container__slider {
            position: absolute;
            width: 1700px;
            height: 150px;
            .barra__logos {
                position: absolute;
                width: 200%;
                height: 150px;
                display: flex;
                animation: scroll 100s linear infinite;

                .logos__item {
                    color: #fafafa;
                    margin: auto;
                    gap: 10em;
                    .item--img {
                        filter: brightness(50%);
                        height: 100px;
                    }
                    .img--masc {
                        height: 35px;
                    }
                    .img--pazalap {
                        height: 80px;
                    }
                }
            }
        }
    }
    .section__groups.nodes-true {
        display: grid;
    }
    .section__groups.nodes-false {
        display: none;
    }
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
@media (max-width:1000px){
    .section__ejes {
        display: flex;
        justify-content: center;
        .section__title {
            display: none;
        }
        .section__groups {
            width: 90%;
            right: auto;

            .section__container {
                grid-template-columns: 90vw 90vw 90vw 90vw 90vw;
                .container__item {
                    width: 100%;

                }
            }
        }
    }
}


.separador__final {
    background-color: #0b0b0b;
    .text__container {
        position: fixed;
        color: #ff00ff;
        font-size: 140px;
        font-family: alte_bold;
        font-weight: bold;
        top: 20%;
        left: 10%;
        display: none;
    }
}
.separador__final.out__section-separador {
    display: none;
}

.section__aside {
    height: 20vh;
    background-color: #ff00ff;
    .aside__desobediencias {
        position: absolute;
        color: #ffffff55;
        font-size: 140px;
        font-family: alte_bold;
        font-weight: bold;
        left: 10%;

}
.fooder {
    background-color: #000000dd;
    height: 15vh;
}

.glitch__container {
    .inter__element {
        .video {
            display: none;
        }
    }
}
