*{
margin: 0;
padding: 0;
text-decoration: none;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body::-webkit-scrollbar{

    width: 0px;
}

.background {
    background: fixed #0d0d0d;

}
/*.background.glitch {
    background: url(../assets/GLITCH_1.gif) fixed #0d0d0d;
    background-repeat: none;
    z-index: 0;
}*/
/*.background.none {
    background: fixed #0d0d0d;
}
.background.text {
    background: fixed #0d0d0d;
}*/

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
}

.load__logo {
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
    z-index: 1200;
}

@keyframes loader {

    0% {
        transform: matrix(1, 0, 0, 1, -25, -25);
        opacity: 0;
        border-color: #ff00ff;
    }

    50% {
        transform: matrix(1.9, 0, 0, 1.9, -25, -25);
        opacity: 1;
        border-color: #ff00ff;
    }
    100% {
        transform: matrix(3, 0, 0, 3, -25, -25);
        border-color: #ff00ff;
        opacity: 0;
    }
}
.loader::after,
.loader::before {
    content: "";
    border: 2px solid white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: absolute;
    animation: loader 2s linear infinite;


}

.loader::after {
    opacity: 0;
    animation-delay: 1s;
}



/*.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 1000;
}

.header .container__logo{
    font-family: mont;
    position: relative;
    color: #f5f5f5;
    font-size: 1.5em;
    transition: 1.5s;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.hlogo--color {
    width: 40px;
    margin: 07px;
    filter: saturate(0%) brightness(4000%) ;
    transition: 1.5s;
}
.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__item{
    list-style: none;
    a:hover {
        color: #deff0b;
    }
}

.item__link{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #f5f5f5;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;

}

.item--button {
    padding: 0.3em 2em;
    border-radius: 5px;
    border: solid 1px #00000000;
    transition: 0.5s;
    cursor: pointer;
}
.item--button:hover {
    filter: sepia(86%) saturate(1695%) hue-rotate(15deg) brightness(107%) contrast(105%);
}

.header.abajo{
    background: #000000;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 20px;

    .item__link{
        color: #f5f5f5;
    }
    .item__link:hover {
        color: #deff0b;
    }
    .hlogo--color.inv {
        filter: saturate(100%) brightness(4000%) ;
    }
}

.header.arriba{
    background: rgba(0, 0, 0, 0);
    padding: 30px 20px;
}*/

.section__inicio {

    .text__container {
       position: absolute;
        width: 100vw;
        height: 190vh;
       background-color: rgb(0, 0, 0, 70%);;
        z-index: 1;
    }

    .inicio__banner {
        color: #bbff00;
        font-size: 140px;
        font-family: alte_bold;
        font-weight: bold;
        top: 25%;
        left: 10%;
    }
    .inicio__element {
        position: fixed;
        z-index: 0;
    }
    .inicio__element.out__section{
        display: none;
    }
    .inicio__banner.out__section{
        display: none;
    }
}

.section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 100;

    .section__image {
        position: absolute;
        width: 100%;
        height: 60%;
        z-index: 30;
    }

    .section__text {

        position: absolute;
        display: flex;
        align-items: center;
        width: 80%;
        height: 40%;

        p {
            padding: 1%;
            max-width: 700px;
            text-decoration-line:  line-through;
            text-decoration-color: #00000000;
            transition: 1s;
        }
        .h2--mod {
            text-decoration-color: #b5ff03;
            text-decoration-style: wavy;
        }
        .h2--mod:hover {
            text-decoration-color: #b5ff03;
            text-decoration-style: wavy;
        }
    }
    .text__content {
        width: 900px;
    }
    .content--black {
        color: black;
    }
    .content--white {
        color: white;
    }
    .text--top {
        top: 0;
    }
    .text--bottom {
        bottom: 0;
    }

    .text__title {
        text-align: center;
        font-family: alte_bold;
        width: 50vw;
    }
        .title--left, .title--right {
            font-size: 3em;
        }

    .text__paragraph {
        width: 50vw;
    }
        .paragraph--left, .paragraph--right {
            font-size: 1.3em;
        }
        .paragraph--right {
            text-align: right;
        }
        .paragraph--left {
            text-align: left;
        }
}

.section ~ section {
    border-radius: 10px;
    overflow:hidden;
}


.separador {
    position: relative;
    width: 100vw;
    height: 700px;
    background-color: #0b0b0b;
}
.glitch__container {
    position: relative;
    width: 100vw;
    height: 700px;
    .inter__element {
        position: fixed;
        top: 0;
    }
}


.section__nosotrxs {
    background-color: #f5f5f5;
    position: relative;
    width: 90%;
    height: 90vh;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow:  150px 0 80px #000000cc, -150px 0 80px #00000055;
    .section__image {
        background-image: url(../assets/img/Nosotrxs.webp);
        background-position: center;
    }
}

.section__accionar {
    background-color: #f5f5f5;
    left: 50%;
    width: 90%;
    height: 90vh;
    transform: translate(-50%, 0);
    box-shadow: 100px 0 100px #000000;
    .section__image {
        bottom: 0;
        background-image: url(../assets/img/Accionares.webp);
    }
}

.section__ejes {
    background-color: #0b0b0b;
    position: relative;
    z-index: 5;

    .section__title {
        border-left:1px solid #ff00ff;
        position: absolute;
        display: grid;
        font-family: alte_bold;
        font-size: 1em;
        text-align: center;
        color: #f5f5f5;
        width: 300px;
        height: 1vw;
        left: 0;
        bottom: 35%;
        transform: rotate(0.75turn);
    }
    .section__container {
        position: fixed;
        width: 90%;
        height: 60vh;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        right: 0;
        top: 8%;
        display: none;
        .container__item {
            cursor: pointer;
            position: relative;
            border: 1px solid #ffffff33;
            border-right: none;
            transition-duration: .5s;
            .text__box {
                color: #f5f5f5;
                margin: 2em 2em 0 25px;
            }
            .box__title {
                position: absolute;
                font-family: helvetica;
                transition-duration: .5s;
                font-size: 2em;
            }
            .box__paragraph {
                position: absolute;
                height: 300px;
                font-size: 1.1em;
            }
            .container__image{
                position: absolute;
                width: 100%;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition-duration: .3s;
                transition-property: filter font-size;
                bottom: 1%;

            }
            .container__text {
                height: 100px;
                padding: 0 1em 0 1em;
            }
            .box__icon {
                position: absolute;
                filter: saturate(0%) brightness(4000%);
                transition-duration: .5s;
                transition-property: width filter;
                width: 18%;
            }
        }
       .container__item:hover {
            background-color: #1d1d1d;
            border-bottom:1px solid #ff00ff;
           .box__icon {
                width: 20%;
            }
        }
    }
    .section__container.nodes-true {
        display: grid;
    }
    .section__container.nodes-false {
        display: none;
    }
    .org__links {
        position: fixed;
/*         background-color: blue; */
        width: 100%;
        height: 32vh;
        bottom: 0;
        display: grid;
        border-left: 1px solid #ffffff33;
    }
    .container__slider {
/*         border: 1px solid #ababab; */
        position: absolute;
        width: 90%;
        height: 32vh;
        bottom: 0%;
        display: flex;
        align-items: start;
        overflow: hidden;
        .barra__logos {
            position: absolute;
/*             border: 1px solid #484848; */
            width: 200%;
            height: 250px;
            display: flex;
            animation: scroll 100s linear infinite;
            .logos__item {
                color: #fafafa;
                margin: auto;
/*                 gap: 10em; */
                .item--img {
                    filter: brightness(50%);
                }
            }
        }
    }
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
.section__intension {
    background-color: #0b0b0b;
    width: 90%;
    right: -50%;
    height: 90vh;
    transform: translate(-50%, 0);
    box-shadow: 90px 0 70px #000000;
/*     border: 1px solid #fafafa; */

    .section__image {
        position: absolute;
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto;
        left: 0;
        .img {
            width: 100%;
        }
    }
    .logo__urmadic {
        width: 200px;
    }
}

.separador__final {
    background-color: #0b0b0b;
    .text__container {
        position: fixed;
        color: #ff00ff;
        font-size: 140px;
        font-family: alte_bold;
        font-weight: bold;
        top: 20%;
        left: 10%;
    }
}
.separador__final.out__section-separador {
    display: none;
}

.section__aside {
/*     position: relative; */
    height: 20vh;
    background-color: #ff00ff;
    .aside__desobediencias {
        position: absolute;
        color: #ffffff55;
        font-size: 140px;
        font-family: alte_bold;
        font-weight: bold;
        left: 10%;
}
.fooder {
    background-color: #000000dd;
    height: 15vh;
}



