*{
margin: 0;
padding: 0;
text-decoration: none;
}

body {
    background: /*url(../assets/REEL.gif)*/ fixed #0d0d0d;
}
body.otra {
    background: url(../assets/glitch.gif) fixed #0d0d0d;
    background-repeat: none;
}
body.otra_dos {
    background: url(../assets/img/I1_1.png) fixed #0d0d0d;
}
body.otra_tres {
    background: url(../assets/REEL.gif) fixed #0d0d0d;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 100;
}

.header .container__logo{
    font-family: mont;
    position: relative;
    color: #fff;
    font-size: 1.5em;
    transition: 1.5s;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#logo {
    width: 40px;
    margin: 0 7px;
}
.header__nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__item{
    list-style: none;
    a:hover {
        color: #deff0b;
    }
}

.item__link{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;

}

.item--button {
    padding: 0.3em 2em;
    border-radius: 5px;
    border: solid 1px #00000000;
    transition: 0.5s;
}
.item--button:hover {
    border: solid 1px #b5ff03 ;
}

.header.abajo{
    background: #000000;
    padding: 15px 20px;

    .item__link{
        color: #fff;
    }
    .item__link:hover {
        color: #deff0b;
    }
}

.header.arriba{
    background: rgba(0, 0, 0, 0);
    padding: 30px 20px;
}

.section__inicio {
    .text__container {
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0, 70%);;
        z-index: 5;
    }
    .inicio__banner {
        position: absolute;
        color: #b5ff03;
        font-size: 125px;
        font-family: alte_bold;
        font-weight: bold;
        top: 25%;
        left: 10%;
    }
    .inicio__video {
        position: fixed;
    }
    .inicio__video.out__section{
        position: relative;
    }
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    .section__image {
        position: absolute;
        width: 100%;
        height: 60%;
        z-index: 30;
    }

    .section__text {
        position: absolute;
        display: flex;
        align-items: center;
        width: 80%;
        height: 40%;

        h2, p {
            padding: 1%;
            color: black;
            text-align: center;
            text-decoration-line:  line-through;
            text-decoration-color: #00000000;
            transition: 1s;
        }
        h2:hover {
            text-decoration-color: #b5ff03;
            text-decoration-style: wavy;
        }
    }
    .text--top {
        top: 0;
    }
    .text--bottom {
        bottom: 0;
    }

    .text__title {
        font-family: alte_bold;
        width: 50vw;
    }
        .title--left, .title--right {
            font-size: 3em;
        }

    .text__paragraph {
        width: 50vw;
    }
        .paragraph--left, .paragraph--right {
            font-size: 1.3em;
        }
}



.separador {
    position: relative;
    width: 100%;
    height: 700px;
}


.section__nosotrxs {
    .section__image {
        background-image: url(../assets/img/DD_Quienes_somos.png);
    }
}

.section__accionar {
    .section__image {
        bottom: 0;
        background-image: url(../assets/img/I3.png);
    }
}

.section__nosotrxs {
    background-color: #ffffff;
}

.section__accionar{
    background-color: #ffffff;
}

.section__intension {
    background-color: #0d0d0d;
}
.section__aside {
    height: 70vh;
    background-color: #ff00ff;
}
.fooder {
    background-color: #000000dd;
    height: 15vh;
}



