body{
    --font-article-regular:diga;
    --font-article-bold:diga-bold;
    --font-titles:alte;
}

.articles{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.article__content{
    background-color: #fafafa;
    max-width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
}
.title{
    color: #00000022;
    font-family: alte;
    background-size: cover;
    background-clip: text;
    background-position: fixed;
    font-family: var(--font-titles)
}

.title__image--situation{
    position: absolute;
    background-image: url("/Frontend/assets/img/in_tension/articles/migracion.webp");
    background-size: 500%;
    background-position: 15%;
}
.title__filter--situation{
    position: relative;
    mix-blend-mode: darken;
    opacity: 100%;
} 

.title__image--movement{
    position: absolute;
    background-image: url("/Frontend/assets/img/in_tension/articles/Poster_zoom.webp");
    background-size: 10lh;
    background-position: 30% 40%;
}
.title__filter--movement{
    position: relative;
    mix-blend-mode: darken;
    opacity: 70%;
}

.title__image--explosion{
    position: absolute;
    background-image: url("/Frontend/assets/img/in_tension/articles/img3.webp");
    background-size: 2lh;
    background-position: 30% 40%;
}
.title__filter--explosion{
    position: relative;
    mix-blend-mode: darken;
    opacity: 40%;
}

.text{
    color: #333333;
    text-align: justify;
    hyphens: auto;
    hyphenate-limit-chars: 7;
    font-family: var(--font-article-regular);
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: .01rem;
    word-spacing: 0rem;
}

.highlighted__bold{
    font-family: var(--font-article-bold);
    text-align: left;
}

.subtitle{
    display: grid;
    font-family: var(--font-article-bold);
    font-size: clamp(1.5rem, 1.8vw, 2.5rem);
}