// .articles > *, .article > *, .title {
//     border: 2px solid black;
// }

.title{
    text-align: center;
    font-size: clamp(4rem, 6.8rem, 8rem);
}

.article{
    width: 100vw;
    min-width: 400px;
    font-family: alte-regular;
    .head{
        height: 200px;
        .title__container{
            position: absolute;
            top: 90%;
            width: 100vw;
            // & > *{
            //     border: 1px solid blueviolet;
            // }
            .title{
                position: absolute;
                height: 100%;
                width: 100%;
                left: -20%;
            }
            p{
                display: grid;
                line-height: .8lh;
            }
            .end{
                font-size: clamp(4rem, 7rem, 8rem);
            }
            .times{
                font-size: clamp(4rem, 9.5rem, 10rem);
            }
        }
    }
}
/* .article__content--float{
    float: inline-start;
} */

.figure__article--one{
    position: fixed;
    top: 0;
    z-index: -1;
}

.text__grid{
    margin-inline: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-block: 10%;
    .text{
        display: grid;
        margin-right: 20%;
        gap: 1lh;
    }
}

@media (width < 1800px){
.article{
    .head{
        .title__container{
            top: 85%;
            .title{
                left: 5%;
                transform: translate(0, -10%);
            }
        }
    }
}
}