.banner{
    width: 100vw;
    height: 100vh;
    .banner__container{
        position: relative;
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        .background__image{
            position: absolute;
            margin: 0;
            width: 100%;
            height: 100%;
            img{
                position: absolute;
                width: 100%;
                height: fit-content;
                top: -30%;
            }
            .filtro__banner{
                position: absolute;
                background-color: #ff0000;
                opacity: 70%;
                mix-blend-mode: multiply;
                width: 100%;
                height: 100%;
            }
        }
        .section__text{
            position: relative;
            width: 800px;
            height: 320px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            align-content: center;
            z-index: 1;
            .title{
                text-align: center;
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                font-family: alte;
                color: #fafafa;
                bottom: 10%;
                .matters{
                    line-height: 1.5;
                    font-size:3rem;                }
                .tension{
                    line-height: .5;
                    font-size: 8rem;
                    letter-spacing: 1.5rem;
                    right: -100%;
                    top: 0;
                    transform-origin: center;
                }
            }
            .paragraph__container{
                width: 100%;
                height: 100%;
                background-color: #00000088;
                mix-blend-mode: luminosity;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                .description{
                    width: 90%;
                    color: #fafafa;
                    font-family: alte-regular;
                    font-size: 1.2rem;
                    line-height: 1.4;
                    text-align: justify ;
                }
            }
        }
    }
}