body{
    overflow: hidden;
}
.banner{
    overflow: hidden;
    position: relative;
    background-color: #fafafa;
    width: 100vw;
    height: 50vh;
    min-height: 350px;
    h3{
        font-size: clamp(2rem, 100vw, 5rem);
    }
}

.banner-home{
    background-image: linear-gradient(to right, var(--mag), var(--mag), var(--mag-color));
    mix-blend-mode: difference;
    color: #fafafa;
    min-height: 350px;
}

.footer{
    position: relative;
    width: 100%;
    height: 50vh;
    min-height: 500px;
    background-image: url(/Frontend/assets/img/in_tension/footer/background.jpg);
    display: flex;
    justify-content: center;
    z-index: 20;
    min-height: 350px;

    .elements__container{
        font-family: alte-regular;
        position: relative;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 30%));
        color: #fafafa;
        align-items: center;
        gap: 5%;
        .info__box{
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            // grid-template-rows: 4fr 4fr 2fr;
            justify-content: center;
            align-items: center;
            align-content: center;
            justify-items: center;
            min-height: 30%;
            height: 100%;
            // & > * {
            //     border: 1px solid white;
            // }

            .contact{
                // width: 110%;
                height: 100%;
                list-style: none;
                padding-left: 0;
                line-height: 1.5lh;
                font-family: mont-medium;
                font-size: clamp(.7rem, 10% + 0rem, 2rem);
                letter-spacing: .3rem;
                .item::before {
                    content: "";
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    margin-right: 8px;
                    background-size: cover;
                    vertical-align: middle;
                }
                .web::before {
                    background-image: url('/Frontend/assets/icons/globe.svg');
                }

                .email::before {
                    background-image: url('/Frontend/assets/icons/mail.svg');
                }
            }


            .intension--inv{
                transform: translate(0, 10%);
                margin-top: 10%;
                display: grid;
                justify-content: center;
                align-items: center;
                justify-items: center;
                width: 110%;
                height: 100%;
                grid-template-rows: 30% 30% 20%;
                gap: 10% ;
                .in-tension__logo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        top: 0;
                        // position: absolute;
                        width: 70%;
                    }
                }
                .intension__text{
                    min-width: 400px;
                    width: 70%;
                    font-family: alte;
                    text-align: justify;
                    hyphens: auto;
                    text-wrap: pretty;
                    hyphenate-limit-chars: 7;
                    text-align-last: center;
                    font-size: 1.2rem;
                    // letter-spacing: .1rem;
                    display: grid;
                    justify-items: center;
                    gap: .5lh;
                    .violet__box{
                        text-align: center;
                        width: 100%;
                        padding: 5px;
                        border-radius: 3px;
                        color: #0b0b0b;
                        background-color: #ff33ff;
                    }
                }
            }


            .cred{
                transform: translate(0, -30%);
                position: absolute;
                display: grid;
                grid-template-columns: 1fr 1fr;
                // border: 4px solid red;
                width: 100%;
                height: 50%;
                justify-content: center;
                align-items: center;
                .dd__logo{
                    margin: 0;
                    // border: 3px solid blueviolet;
                    width: 100%;
                    height: 50%;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    img{

                        max-width: 100%;
                    }
                }
            }

        }
    }
}

@media (width < 1600px){
    .banner{
        h3{
            font-size: clamp(2rem, 100vw, 3.3rem);
        }
    }

}