@media (width < 1466px) {
  .header #logo, .header .hicon--color {
    width: 30px;
  }
  .header .intension__container .intension__logo {
    height: 40px;
  }
  .header .item__link {
    color: #0b0b0b;
  }
  .port .banner .text__line p {
    display: none;
  }
  .port .port__content .text__container .in-tension_img {
    width: 15vw;
  }
  .port .port__content .ind_text {
    width: 60vw;
    font-size: 0.7rem;
  }
  .port .port__content .section__menu {
    font-size: 1rem;
  }
  .displace {
    width: 40px;
    height: 40px;
  }
  .displace figure img {
    width: 20px;
    height: 20px;
  }
  .title__container {
    width: 100%;
    height: 80%;
  }
  .title__container .issue__title {
    position: absolute;
    width: 50%;
    transform: initial;
  }
  .title__container .issue__title span {
    position: absolute;
    transform-origin: center center;
    transform: rotate(-90deg) translate(-50%, -300%);
    font-size: 4rem;
  }
  .editorial {
    padding: 0;
    height: 60%;
  }
  .editorial .editorial__paragraph {
    font-size: 1.3rem;
  }
  .vertical__title {
    left: -5%;
    top: 30%;
    transform: rotate(-90deg);
  }
  .page1 {
    height: 450px;
    top: 340px;
  }
  .page2 {
    position: sticky;
    top: 0;
    padding-bottom: 2%;
    min-height: 800px;
  }
  .back__issues {
    position: sticky;
    margin: 0;
    top: 10%;
    width: 100vw;
    height: 150vh;
  }
  .back__issues figure {
    margin: 0;
  }
  .back__issues figure img {
    position: absolute;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .back__issues .background2 {
    transform: translate(0, -10%);
  }
  .back__issues .backdrop_blur {
    transform: translate(0, -10%);
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(11, 11, 11, 0.6666666667);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .back__issues .page__3 {
    position: relative;
    top: 4%;
    width: 100vw;
    height: auto;
    display: grid;
    flex-direction: column;
    justify-items: center;
  }
  .back__issues .page__3 .content__section {
    width: 80%;
    height: auto;
  }
  .back__issues .page__3 .content__section .backissues__container {
    position: relative;
    margin-block: 3%;
    width: 100%;
    min-height: auto;
    overflow-y: visible;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 3%;
  }
  .back__issues .page__3 .content__section .backissues__container .issues {
    position: relative;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .background__image {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .background__image img {
    position: absolute;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .background__image .gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .background__image .gradient--first {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  }
  .back__issues .page__3 .content__section .backissues__container .issues .filter_color {
    position: absolute;
    width: 700px;
    height: 400px;
    border-bottom: 1px solid #fafafa;
    transition: 1s;
  }
  .back__issues .page__3 .content__section .backissues__container .issues:hover {
    cursor: pointer;
  }
  .back__issues .page__3 .content__section .backissues__container .issues:hover .filter_color {
    top: -30%;
  }
  .back__issues .page__3 .content__section .backissues__container .issues:hover .color_none {
    top: -10%;
    transform: rotate(20deg);
  }
  .back__issues .page__3 .content__section .backissues__container .issues:hover .text__issue .name-issue {
    bottom: 2%;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .color_none {
    top: -5%;
    right: 0;
    transform-origin: bottom right;
    transform: rotate(20deg) translate(0, -30%);
  }
  .back__issues .page__3 .content__section .backissues__container .issues .right {
    right: 0;
    transform-origin: bottom right;
    transform: rotate(20deg) translate(0, -30%);
  }
  .back__issues .page__3 .content__section .backissues__container .issues .left {
    left: 0;
    transform-origin: bottom left;
    transform: rotate(-20deg translate(0, -30%));
  }
  .back__issues .page__3 .content__section .backissues__container .issues .color_prototype {
    top: -5%;
    right: 0;
    transform-origin: bottom right;
    transform: rotate(20deg) translate(0, -30%);
    background-color: var(--issue-color);
    mix-blend-mode: color;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .color_prototype-opacity {
    top: -5%;
    right: 0;
    transform-origin: bottom right;
    transform: rotate(20deg) translate(0, -20%);
    background-color: var(--issue-color);
    opacity: 1%;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .color_borderlands {
    top: -5%;
    left: 0;
    transform-origin: bottom left;
    transform: rotate(-20deg);
    background-color: #5030ff;
    mix-blend-mode: difference;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .color_resistances {
    top: -5%;
    right: 0;
    transform-origin: bottom right;
    transform: rotate(20deg);
    background-color: #3399cc;
    mix-blend-mode: difference;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .color_genocide {
    top: -5%;
    left: 0;
    transform-origin: bottom left;
    transform: rotate(-20deg);
    background-color: #990033;
    mix-blend-mode: difference;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .text__issue {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: alte;
    color: #fafafa;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .text__issue .sup {
    position: absolute;
    margin: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .text__issue .sup .number-issue {
    margin: 0;
    top: 0;
    font-size: 4rem;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .text__issue .sup .date-issue {
    margin: 0;
    font-size: 1rem;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .text__issue .sup__2 {
    color: #ffff66;
  }
  .back__issues .page__3 .content__section .backissues__container .issues .text__issue .name-issue {
    position: absolute;
    bottom: 0;
    margin: 4%;
    font-size: 2rem;
    transition-duration: 1s;
  }
  .back__issues .page__3 .content__section .backissues__container .zine {
    width: 100%;
    text-align: center;
    top: -25%;
    position: absolute;
    font-family: big;
    font-size: 5rem;
    color: var(--issue-color);
  }
  .back__issues .page__3 .content__section .backissues__container .comming {
    /* background-color: #99003355; */
    position: absolute;
    margin: 0;
    height: 100%;
    width: 75%;
    right: -0.4%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .back__issues .page__3 .content__section .backissues__container .comming p {
    cursor: default;
    position: absolute;
    color: rgba(250, 250, 250, 0.3333333333);
    font-family: alte;
    font-size: 7rem;
    /* left: 5px; */
  }
  .back__issues .page__3 .intertext {
    margin-block: 1%;
    font-weight: lighter;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .back__issues .page__3 .intertext .text__box {
    width: 100%;
    text-align: justify;
    -webkit-hyphens: auto;
            hyphens: auto;
    text-wrap: pretty;
    hyphenate-limit-chars: 6;
    color: #fafafa;
    line-height: 1.5lh;
    font-size: 1.1rem;
    font-family: mont-medium;
    opacity: 80%;
  }
  .back__issues .page__3 .intertext .pin {
    top: 50%;
    left: 50%;
    transform: rotate(45deg);
    border-radius: 0 50% 50% 50%;
    background-color: var(--issue-color);
    width: 30px;
    height: 30px;
  }
  .articles__container .content__icons {
    opacity: 0;
    left: 10%;
    transform: translate(0, 130%);
  }
  .articles__container:hover .content__icons {
    left: 0;
    opacity: 1;
  }
  .banner h3 {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 60%;
    font-family: alte;
    font-size: 5rem;
  }
  .page__video {
    width: 1000px;
    height: 460px;
  }
  .page__video .video__container {
    top: -10%;
    position: absolute;
    overflow: hidden;
    width: 60%;
    border-radius: 20px;
  }
  .page__video .video__container .video {
    width: 100%;
    height: 460px;
    border: none;
  }
  .header.abajo {
    background-color: #0b0b0b;
  }
  .header.abajo .intension__container .intension__logo {
    filter: brightness(1);
  }
  .header.abajo #logo, .header.abajo .hicon--color {
    filter: brightness(100);
  }
  .header.abajo img {
    filter: brightness(100);
  }
}/*# sourceMappingURL=in-tension_hd.css.map */