
@media (width < 1800px){
body{
    --border:  30px ;
}

.port{
    .banner{
        height: 10%;
        .text__line {
            p { 
                line-height: 0;
                bottom: 0;
                font-size: .9rem;
            }
        }
        .left {
            padding-left: .5%;

        }            
        .right {
            padding-right: 2%;
        }
    }
    .port__content{
        .text__container{
            .in-tension_img {
                width: 15vw;
            }
        }
        .ind_text{
            width: 60vw;
            font-size: .7rem;
        }
        .section__menu{
            font-size: 1rem;
        }   
    }
}

.displace{
    width: 40px;
    height: 40px;
    figure{
        img{
            width: 20px;
            height: 20px;
        }
    }
}

.title__container{
    width: 100%;
    height: 80%;
    .issue__title{
        position: absolute;
        width: 50%;
        transform: initial;
        span{
            position: absolute;
            transform-origin: center center;
            transform: rotate(-90deg) translate(-50%, -300%);
            font-size: 4rem;

        }
    }
}

.editorial {
    .editorial__paragraph{
        font-size: 1.3rem;
    }
}
.vertical__title{
    left: -5%;
    top: 30%;
    transform: rotate(-90deg) translate(0, 5vw);

}

.page1{
    height: 450px;
    top: 340px;
}
.page__sections{
    position: sticky;
    top: 0;
    padding-bottom: 2%;
    min-height: 800px;
}

.back__issues{
    position: sticky;
    margin: 0;
    top: 10%;
    width: 100vw;
    height: 150vh;
    figure{
        margin: 0;
        img{
            position: absolute;
            width: 100%;
            height: fit-content;
        }
    }
    .background2{
        transform: translate(0, -10%);
    }
    .backdrop_blur{
        transform: translate(0, -10%);
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #0b0b0baa;
        backdrop-filter: blur(5px);
    }
    .page__3 {
        position: relative;
        top: 0;
        width: 100vw;
        height: auto;
        display: grid;
        flex-direction: column;
        justify-items: center;
        .content__section{
            width: 90%;
            height: auto;
            .backissues__container{
                grid-template-columns: repeat(auto-fill, minmax(250px, 20vw));
                transform: scale(.8);
                .issues{
                    .text__issue{
                        .name-issue{
                            font-size: 1.5rem;
                        }
                    }
                }
            }  
        }
        .intertext{
            transform: scale(.8) translate(0, -40%);
        }
    }
}




.articles__box{
    .articles__container{
        transform: translate(0, 30%);
        &:hover{
            .content__icons{
                left: 0;
                opacity: 1;
            }
        }
    }
}


.banner{
    h3{
        position: absolute;
        top: 20%;
        left: 10%;
        width: 60%;
        font-family: alte;
        font-size: 5rem;
    }

}
.page__video{
    width: 1000px;
    height: 460px;
    .video__container{
        top: -10%;
        position: absolute;
        overflow: hidden;
        width: 60%;
        border-radius: 20px;
        .video{
            width: 100%;
            height:460px;
            border: none;
            
        }
    }
}

.section__title{
    top: 40%;
}

.page__sections{
    height: 80vh;
    min-height: 100px;
    .content__box{
        width: 111vw;
        transform: scale(.8);
        .articles__box{
            transform: translate(0, -30%);
        }
    }
}
}

@media (height < 700px){
.port{
    .banner{
        height: 12%;
        .text__line {
            p { 
                line-height: 0;
                bottom: 0;
                font-size: .7rem;
            }
        }
        .left {
            padding-left: .5%;

        }            
        .right {
            padding-right: 2%;
        }
    }
}
.title__container{
    .issue__title{
        span{
            transform: rotate(-90deg) translate(-60%, -300%);
            font-size: 3rem;
        }
    }
}
.back__issues{
    .page__3{
        top: 5%;
        .intertext{
            display: none;
        }
    }
}
.page__sections{
    height: 100vh;
    transform: translate(0, -5%);
}
.in-tension__footer{
    height: 120vh;
}
}


