<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article-name</title>
    <link rel="stylesheet" href="../../../style/normalize.css">
    <link rel="stylesheet" href="./../../../style/InTension/articles.css/onResistance.css">
</head>
<body>
    <section class="articles">
        <div class="article_one">
            <p class="title">Article name</p>
            <p class="text">The world in which we live is getting increasingly more complex, enviro-climatic and geopolitical crises are increasing, conflict is growing, nations are becoming more authoritarian. Many of the problems that are being generated are out of our reach, but some have a proximity to 'us'. They beg engagement and resistance, but often feel helpless and overwhelmed, no means of resistance are at hand. Part of the problem is the problems have increased in complexity and scale, but the forms of resistance have not. New ones are needed, and this demands imagination. This section will explore the need for, problems of, and the creative generation of new forms of resistance. </p>
        </div>
    </section>

</body>
</html>

