
.audiovisual__section{
    background-color: #0b0b0b00;
    position: relative;
    display: flex;
    height: 80vh;
    /* border-radius: 30px; */
    justify-content: center;
    align-items: center;
    

    /* .search__section{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;

    } */
    
    .section__title{
        position: fixed;
        color: #242424;
        font-family: alte_bold;
        font-weight: bold;
        margin: 0;
        bottom: 0;
        transform: translate(0, 0);
        font-size: 200px;
        /* display: none; */
    }
    .media__container{
        position: absolute;
        top: 0;
        width:100%;
        height: 100%;
        /* border-radius: 0;   */
        overflow: hidden;

        .av__grid{
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            bottom: 0;
            background-color: #0b0b0b00;
            display: flex;
            justify-content: right;
            .cortos__container{
                /* background-color: rgb(98, 43, 226); */
                position: relative;
                width: 100%;
                height: 100%;
                display: grid;
                /* border-radius: 0 30px 30px 0; */
                /* overflow: hidden; */
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 1fr);

                /* .carrusel_button{
                    cursor: pointer;
                    position: absolute;
                    background-color: rgba(75, 75, 75, 0.479);
                    width: 100px;
                    height: 100px;
                    transition: 1s background-color, .5s transform;
                    bottom: 3%;
                    z-index: 10;   

                    &:hover{
                        background-color: magenta;
                    }                    
                }
                .left{
                    border-radius: 0 50% 50% 0;
                    left: 0;
                    transform: translate(-80%, -50%);
                    &:hover{
                        transform: translate(-60%, -50%);
                    }
                }
                .right{
                    border-radius: 50% 0 0 50%;
                    right: 0;
                    transform: translate(70%, -50%);
                    &:hover{
                        transform: translate(50%, -50%);
                    }
                } */
                .cortos{
                    border-radius: 25px;
                    margin: 10px;
                    img{
                        transition: 1s;
                    }
                    &:hover{
                        .min{
                            cursor: pointer;
                            transform: scale(105%);
                            filter: brightness(70%) saturate(0%) blur(5px);
                        }
                    }
                }
                .pin{
                    position: relative;
                    display: flex;
                    overflow: hidden;
                    border-radius: 25px;
                    grid-row: 1/3;
                    img{
                        transition: 1s;
                    }
                    figure{
                        margin: 0;
                        img{
                            position: absolute;
                            width: 75%;
                            right: 0;
                        }
                        .silencio{
                            /* width: 100%; */
                            left: 0;
                            top: -20%;
                        }
                        .rpmasc{
                            top: -20%;
                            right: 0;
                        }
                        .pin-armadillo{
                            top: 0%;
                            height: fit-content;

                        }
                        /* .pin-lumbre{
                            top: -20%;
                        } */
                        .pin-mutante{
                            top: -20%;
                        }

                    }

                    .controls{
                        position: absolute;
                        width: 50%;
                        height: 45vh;
                        /* border-radius: 30px; */
                        /* padding-top: 3rem; */
                        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));;
                        display: flex;
                        align-items: start;
                        justify-content: center;
                        flex-direction: column;
                        padding: 0 0 0 5%;
                        .background__controls{
                            display: none;
                        }

                        .container__elements{
                            position: absolute;
                            width: 50%;
                            height: 100%;
                            .film__icon{
                                position: absolute;
                                top: 0;
                                left: 0;
        
                                width: 100%;
                                height: 30%;
                                transition-duration: 3s;
    
                                .icon{
                                    position: absolute;
                                    bottom: 0;
                                    left: 50%;
                                    transform: translate(-50%, 0);
                                    width: 60%;
                                    height: fit-content;
                                }
    
                                .icon--armadillo{
                                    width: 60%;
                                    height: fit-content;
                                }
                                .icon--lumbre{
                                    height: 70%;
                                    width: fit-content;
                                }
                                .icon--rpmasc{
                                    height: 70%;
                                    width: fit-content;
                                }
                                .icon--mutante{
                                    width: 60%;
                                    height: fit-content;
                                }
                                .icon--silencio{
                                    width: 60%;
                                    height: fit-content;
                                }
    
    
                            }
                            .paragraph__item {
                                position: absolute;
                                top: 30%;
                                width: 100%;
                                color: white;
                                font-family: OpenSans;
                                font-weight: medium;
                                text-align: left;
                                line-height: 1.7rem;
                                font-size: 1.1em;
                                /* transition-duration: 3s; */
                            }
                            .controls__container{
                                position: absolute;
                                bottom: 10rem;
                                margin-top: 5%;
                                border-top: 1px solid #9e9e9e00;
                                width: 100%;
                                overflow: hidden;
                                transition-duration: 1s;
                                
                                
                                .buttons{
                                    width: 70%;
                                    height: 100%;
                                    padding-top: 3%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    margin-left: 50%;
                                    transform: translate(-50%, -100%);
                                    transition-duration: 1s; 
                                    
                                    .controls__button{
                                        cursor: pointer;
                                        filter: brightness(90%);
                                        width: 30px;
                                        &:hover {
                                            filter: sepia(86%) saturate(1695%) hue-rotate(15deg) brightness(107%) contrast(105%);
                                        }
                                    }
                                    .button-back{
                                        transform: rotate(180deg);
                                    }
                                    .button-play{
                                        width: 60px;
                                    } 
                                }
                            }
                            .show-buttons{
                                border-top: 1px solid #9e9e9e;
                                .buttons{
                                    transform: translate(-50%, 0);
                                }
                            }
                            .modo{
                                position: absolute;
                                min-width: 350px;
                                bottom: 0;
                                margin-bottom: 5em;
                                .button-av{
                                    font-family: rozha;
                                    font-size: 2rem;
                                    position: relative;
                                    width: 90%;
                                    height: 50px;
                                    margin: 10px;
                                    border-radius: 20px;
                                    display: flex;
                                    .button-av-text{
                                        position: relative;
                                        margin: 0;
                                        align-content: center;
                                        left: 50%;
                                        transform: translate(-50%, 0);
                                    }
                                }
                                .peliculas{
                                    cursor: pointer;
                                    border: 2px solid magenta;
                                    color: magenta;
                                }
                                .podcast{
                                    cursor: default;
                                    border: 2px solid rgb(51, 51, 51);
                                    color: rgb(51, 51, 51);
                                }
                            }
                        }

                    }

                    .pin__options{
                        position: absolute;
                        right: 0;                   
                        opacity: 100%;
                        transition: 1.5s opacity;
                        .container__buttons{
                            
                            img{
                                margin: 10px;
                                position: absolute;
                                cursor: pointer;
                                width: 70px;
                                opacity: 20%;
                                &:hover{
                                    transition: .5s opacity;
                                    opacity: 100%;
                                }
                            }
                            /* .button-info{
                                transform: translate(150%);
                            } */
                        }
                    }
                    .box{
                        position: absolute;
                        height: 600px;
                    }
            
                    .image{
                        /* background-image: url("../assets/img/nodos/audiovisual/mutante_mapa.jpg"); */
                        background-color: #2e2e2e;
                        width: 40%;
                        height: 100%;
                        transform: translate(-50%, 0);
                        display: flex;
                        justify-content: center;
                        overflow: hidden;
                        border-radius: 30px;
                        opacity: 0;
                        transition: transform .8s, opacity 1s;
                        .center__img{
                            height: 100%;
                            width: fit-content;
                        }
                        .mid--armadillo{
                            left: -50%;
                        }
                        .mid--lumbre{
                            left: 0;
                        }
                        .mid--rpmasc{ 
                            left: -30%;    
                        }
                        .mid--mutante{   
                            left: -20%;  
                        }
                        .mid--silencio{
                            height: 110%;
                            top: 0;
                            left: -30%;
                        }
                    }
                    .image-show{
                        transition: transform .8s, opacity .5s;
                        opacity: 1;
                        transform: translate(70%, 0);
                    }
                    .data{
                        position: relative;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        width: 40%;
                        height: 100%;
                        background-color: #1f1f1f;
                        transform: translate(-50%, 0);
                        /* transform: translate(190%, 0); */
                        opacity: 0;
                        /* transition: opacity 2s; */
                        transition: transform 1s, opacity 5s;
                        /* z-index: 10; */
                        /* display: none; */
                        .limit{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            position: absolute;
                            overflow-x: scroll;
                            width: 70%;
                            height: 100%;
                            
                            &::-webkit-scrollbar{
                                width: 0px;
                                height: 0px;
                            }
                            .container{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 300%;
                                height: 100%;
                                
                                
                                .data__content{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    height: 100%;
                                    left: 0;
                                    
                                    .content__logo{
                                        filter: opacity(50%);
                                        width: 15%;
                                    }
                                    .paragraph__item {
                                        width: 55%;
                                        color: white;
                                        font-family: mont;
                                        font-weight: medium;
                                        text-align: center;
                                        font-size: 1em;
                                    }
                                }
                                /* .proceso{
                                    background-color: #d448ff;
                                }
                                .involucradxs{
                                    background-color: #80ffea;
                                }
                                .referencias{
                                    background-color: #ff45f6;
                                } */
            
                            }
                        }
                        .menus__container{ 
                            position: absolute;  
                            display: flex;
                            width: 60%;
                            justify-content: space-between;
                            align-items: center;
                            bottom: 0;
                            margin-bottom: 10%;
            
                            .menu{
                                background-color: #242424;
                                cursor: pointer;
                                width: 120px;
                                height: 80px;
                                /* padding-top: 5%; */
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                transition: .5s;
                                &:hover {
                                    background-color: #2e2e2e;
                                }
                                .menu__icon{
                                    filter: opacity(30%);
                                }
                                .menu__name{
                                    font-size: 15px;
                                    color: #838383;
                                    display: none;
                                }
                            }
                            .button-back{
                                transform: rotate(180deg);
                            }
                            .button-play{
                                width: 60px;
                            }
                        }
                    }
                    .data-show{
                        transition: transform 1s, opacity 1s;
                        opacity: 1;
                        transform: translate(160%, 0);
                    }
                }
                .pin:hover{
                    .pin__options{
                        opacity: 1;
                    }
                }

                .carrusel{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: grid;
                    border-radius: 25px;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: 1fr;

    
                    .silencio{
                        position: relative;
                        overflow: hidden;
                        figure{
                            margin: 0;
                            img{
                                width: 200%;
                                position: absolute; 
                                left: -50%;
                                top: -10%;
                            }
                        }
                    }
                    .mutante{
                        position: relative;
                        overflow: hidden;
                        /* grid-column: 1/2; */
                        figure{
                            margin: 0;
                            img{
                                position: absolute;
                                height: 100%;
                            }
                        }
                    }
                    .rpmasc{
                        position: relative;
                        overflow: hidden;
                        figure{
                            margin: 0;
                            img{
                                position: absolute;
                                right: 0;
                                height: 100%;
                            }
                        }
        
                    }
                    .lumbre{
                        position: relative;
                        overflow: hidden;
                        figure{
                            margin: 0;
                            img{
                                position: absolute;
                                left: 0;
                                height: 100%;
                            }
                        }
        
                    }
                    .armadillo{
                        position: relative;
                        overflow: hidden;
                        /* grid-column: 2/4; */
                        figure{
                            margin: 0;
                            img{
                                position: absolute;
                                top: 0;
                                left: -50%;
                                height:100%;
                            }
                        }
                    }
                }
            }
        }



        
    }
}

.opacity-modal{
    opacity: 1;
}

@media (width < 700px){
    .audiovisual__section{
        .media__container{
            .av__grid{
                width: 0;
            }
            .controls{
                position: relative;
                width: 100%;
                .backg__controls{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 25%;
                    --img: url('../assets/img/nodos/audiovisual/mutante_mapa.webp');
                    --grad: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
                    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../assets/img/nodos/audiovisual/mutante_mapa.webp");
                    background-position-x: center;
                    background-size: 100%;

                    z-index: -1;

                    .background__controls{
                        position: absolute;
                        /* display: block; */
                        top: -5%;
                        left: 0;
                        width: 100%;
                        z-index: -1;
                    }
                }
                .paragraph__item {
                    width: 70%;
                }

                .controls__container{ 
                    width: 70%;
                    .buttons{
                        transform: translate(0, 0);
                    }
                }

            }
        }
    }           
}