@view-transition {
    navigation: auto;
}
/* ::view-transition-group(*){
    animation-duration: 2s;
} */
::view-transition-old(root) {
    animation-delay: 1s;
    animation: slide-out-to-left .5s forwards;
    
}
::view-transition-new(root) {
    animation-delay: 1s; 
    animation: slide-in-from-right .5s forwards;
    
}

@keyframes slide-out-to-left {
    from{
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
    
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0)
    }
}

html {  
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
