.preloader {
    background-color: #000000;
    position: fixed;
    overflow: hidden;
    color: white;
    font-size: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    left: 0;
    top: 0;
    transition: top 1.5s cubic-bezier(0.74,-0.01, 0.43, 0.99);
    z-index: 1100;
  }
  .preloader-hidden{
    top: -101%;
  }
  .text-node { background-clip: text !important; -webkit-background-clip: text !important; }
  
  /* svg-path */
  /* .svgpath-0bc2ef862b96 > svg {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0px,0px);
  } */
  /* .svgpath-0bc2ef862b96 {
    position: absolute;
    left: 115.15px;
    top: 95.98px;
    width: 193.7px;
    height: 232.61px;
  } */
  .llamita__container{
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    border-top: 3px solid #f62752;
    border-radius: 50%;
    animation: spin linear infinite;
    animation-duration: 5s;
    top: 50%;
  }
  .llamita{
    position: absolute;
    top: 50%;
    /* cursor: pointer; */
    animation-name: escala;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    transform: scale(40%) translate(0, -50%);
  }
  @keyframes spin{

    100%{
      transform: rotate(360deg);
    }
  }

  @keyframes escala{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .texto{
    position: absolute;
    /* background-color: red; */
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 500px;
    height: 100%;
    filter: saturate(0);
    p{
      /* animation: scrollpreloader 50s linear infinite; */
      font-family:"Rozha One";
      /* background-color:blue; */
      position: absolute;
      width: 500px;
      color:#ffffff77;
    }
    .mask{
      position:absolute;
      width:110%;
      height:100%;
      margin:0;
      border-radius: 50%; /* Forma circular */
      background: radial-gradient(
        circle at center,
        #cc009955 0%,    /* Negro sólido en el centro */
        #000000 50%     /* Transparencia hacia los bordes */
      )
    }
  }
  
  /* @keyframes scrollpreloader {
      0% {
          transform: translateX(60%);
      }
  
      100% {
          transform: translateX(-60%);
      }
  } */