body{


    margin: 0;
    --green-color:#ceff1d;
    --mag-color:#fd33d1;
    --mag:#d815ff;

    h1, h2, h3{
        margin-top: initial;
        margin-bottom: initial;
        font-weight: initial;
    }
    .mess{
        /* background-color: antiquewhite; */
        width: 100%;
        position: absolute;
        bottom: 10%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fafafa;
        font-family: mont;
        font-size: 1.3rem;
        gap: 1%;
        .line{
            background-color: #fafafa;
            width: 5%;
            height: 1px;
        }
    }
}
