
@view-transition {
    navigation: auto;
}
::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 1s;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    margin: 0;
    --green-color:#ceff1d;
    --mag-color:#fd33d1;

    h1, h2, h3{
        margin-top: initial;
        margin-bottom: initial;
        font-weight: initial;
    }
}



body::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}


.background {
    background: #0b0b0b;
}
.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    left: 0;
    transition: left 1s cubic-bezier(0.74,-0.01, 0.43, 0.99);
    .preloader__found{
        width: 100%;
        height: 100%;
        filter: saturate(0) brightness(5%);
    }
    .load__logo {
        top: 70%;
        position: absolute;
        width: 100px;
        height: 100px;
        z-index: 1200;
    }
    .text__preloader {
        /* background-color: #202020; */
        max-width: 500px;
        width: 79%;
        /* top: 20%; */
        position: absolute;
        color: #fd3387;
        font-family: OpenSans;
        font-size: 1.5rem;
        line-height: 3rem;
        text-align: center;
        z-index: 1300;
    }
    .entrar{
        bottom: 32%;
        color: #fd3387;
        position: absolute;
        width: 150px;
         width: 200px; /* PROXIMAMENTE */
        height: 70px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        border: 3px solid #fd3387;
        cursor: pointer;
        transition-duration: 1s;
        opacity: 0;
        &:hover{
            color: var(--mag-color);
            border: 3px solid var(--mag-color);
        }
    }

}
.item__link{
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
}
.preloader-button{
    .entrar{
        display: flex;
        opacity: 1;
    }
}

.preloader-hidden{
    left: -101%;
}
/* 
@keyframes loader {
    
    0% {
        transform: matrix(1, 0, 0, 1, -25, -25);
        opacity: 0;
        border-color: #f42752ff;
    }

    25% {
        transform: matrix(1.5, 0, 0, 1.5, -25, -25);
        opacity: 1;
        border-color: var(--mag-color);
    }

    50% {
        transform: matrix(2, 0, 0, 2, -25, -25);
        opacity: 1;
        border-color: var(--mag-color);
    }
    100% {
        transform: matrix(2.5, 0, 0, 2.5, -25, -25);
        border-color: #f42752ff;
        opacity: 0;
    }
}

.loader::after,
.loader::before {
    content: "";
    border: 2px solid white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: absolute;
    animation: loader 3s linear infinite;
} */

/* .loader::after,
.loader::before {
    position: absolute;
    content: "";
    border: 3px solid var(--mag-color);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: loader 2s linear infinite;
    transform: translate(-50%, -50%);
} */

.loader::after {
    opacity: 0;
    animation-delay: 1s;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    transition: padding 0.7s, background 0.7s, border-bottom 1s;
    padding: 30px 20px;
    z-index: 1000;
    font-display: swap;
    .header__container{
        
        .container__logo{
            position: relative;
            color: #f5f5f5;
            text-decoration: none;
            display: flex;
            align-items: center;
            h1 {
                font-family: mont;
                font-size: 1.5em;
            }
            .hlogo--color {
                width: 40px;
                margin: 07px;
                filter: saturate(0%) brightness(4000%) ;
            }
        }
    }
    .header__nav{
        font-size: .9em;
        display: flex;
        justify-content: center;
        align-items: center;
        .nav__label {
            width: 25px;
            height: 25px;
            input {
                display: none;
            }
        }
        .nav__list{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .list__item{
                list-style: none;
                .item__link{
                    position: relative;
                    font-family: helvetica;
                    margin: 0 15px;
                    text-decoration: none;
                    color: #f5f5f5;
                    letter-spacing: 2px;
                    font-weight: 600;
                    &:hover {
                        color: var(--green-color);
                    }
                }
            }
            .item--button {
                padding: 0.3em 2em;
                border-radius: 5px;
                border: solid 1px #00000000;
                cursor: pointer;
                &:hover {
                    filter: sepia(86%) saturate(1695%) hue-rotate(15deg) brightness(107%) contrast(105%);
                }
            }
        }
    }
}

.header.abajo{
    background: #0b0b0b;
    padding: 5px 20px;

    .item__link{
        color: #f5f5f5;
    }
    .item__link:hover {
        color: var(--green-color);
    }
    .hlogo--color.inv {
        filter: none;
    }
}

/* ----------- S E C C I O N E S --------------*/
.separador {
    position: relative;
    width: 100vw;
    height: 700px;
}
.glitch__container {
    position: relative;
    width: 100vw;
    height: 700px;
    z-index: 0;
    .inter__element{
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        margin-left: 0;
        top: 5%;
        left: 0;
        display: flex;
        align-content: center;
        z-index: 0;
        .video {
            position: absolute;
            width: 100%;
        }
    }
    .responsive {
        display: none;
    }

}
.glitch__container.glitch {
    opacity: 100%;
}
.glitch__container.none {
    opacity: 0;
}

@media (max-width:1000px){
    .glitch__container {
        background: #0b0b0b00;
        position: sticky;
        bottom: 10%;
        overflow: hidden;
        opacity: 100%;
        z-index: 5;
        .inter__element {
            position: absolute;
        }
        .normal {
            display: none;
        }
        .responsive {
            display: flex;
        }
    }
}
.inicio {
    height: 100vh;
    font-display: swap;
    .text__container {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
    }
    .inicio__element {
        position: fixed;
        opacity: 20%;
        transition: opacity .1s;
        z-index: 0;
    }
    .inicio__element.out__section{
        opacity: 0;
        transition: opacity 1s;
        
    }
    .inicio__element.view__section{
        opacity: 100%;
        transition: opacity 1s;
    }
    .inicio__element.low__opacity{
        opacity: 10%;
        transition: opacity 1s;
    }
    .inicio__element.out__section-2{
        opacity: 0;
        transition: opacity 1s;
    }
}
.section__found {
    position: relative;
    width: 100%;
    min-height: 800px;
}

.section {
    position: relative;
    background-color: #fefefe;
    width: 90%;
    max-width: 1700px;
    min-height: 800px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr .5fr;
    font-display: swap;
    z-index: 100;
    .color__base {
        position: absolute;
        background-color: var(--green-color);
        width: 100%;
        height: 23%;
        bottom: 0;
        z-index: -1;
        transition: opacity .5s;
        opacity: 0;

    }
    .section__video {
        height: 700px;
    }
    .section__div-image {
        font-weight: medium;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        overflow: hidden;
        scrollbar-width: none;
        .image__item, .img-mult {
            transition: filter .5s, transform .5s;
            height: 600px;
            display: flex;
        }
        .img-mult {
            
            .back, .maximize_button{
                cursor: url('../assets/icons/eye.svg') 30 30, auto;
                transition: .3s;
            }
            /* .maximize_button{
                position: absolute;
                top: 35%;
                left: 30%;
                width: 70px;
                opacity: 0;
            } */
        }
        .img-mult:hover{
            transform: scale(1.05);
            .maximize_button{
                opacity: 1;
            }
            
            .back{
                opacity: 50%;
            }

        }
        .vid-mult {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
        }
        .vid__img {
            position: absolute;
            background-color: #0b0b0b;
            border-radius: 20px;
            border: 1px solid #fefefe;  
            position: absolute;
            margin: 5%;
            padding: 50px;
            width: 25%;
            right: 0;
            display: grid;
            justify-content: center;
            align-items: start;
            height: 500px;
        }
        .mutante {
            width: 100%;
        }
        .front {
            position: fixed;
            right: 0;
            z-index: 50;
        }
        .back {
            animation: scroll 700s linear infinite;
        }
    }
    .image-left {
        justify-content: left;
    }

    .section__div-title, .section__div-paragraph {
        display: grid;
        margin: 0 10%;
        align-content: center;
        justify-items: center;
        .title__item {
            position: relative;
            font-family: rozha;
            font-size: 5em;
            line-height: 0;
            .logo__item {
                position: absolute;
                transform: translate(-50%, -50%);
            }
            .intension{
                width: 11rem;
            }
            .theurmadicazine{
                width: 7rem;
            }
            .mutante {
                width: 17rem;
            }
        }
        .paragraph__item {
            font-family: OpenSans;
            /* font-weight: medium; */
            text-align: left;
            font-size: 1.1em;
            line-height: 1.5;
        }
    }
}
/* 
&:hover{
    .image__item, .img-mult {
        transition: filter .5s, transform .5s;
        height: 600px;
        display: flex;
    }
} */


.invert {
    grid-template-rows: .5fr 1.5fr;
    .section__div-title {
        order: 2;
    }
    .section__div-paragraph {
        .paragraph__item {
            text-align: left;
        }
    }
    .section__div-image {
        order: 3;
    }
}

.black {
    background-color: #1b1b1b;
    color: #fefefe;
}

@media (max-width:1000px){

    .section {
        grid-template-columns: 1fr;
        .section__div-title, .section__div-paragraph {
            margin: 0;
            width: 100%;
        }
        .section__div-paragraph {
            display: none;
        }
    }
}

/*---------------------------------------------------------------*/


#ejes{
    position: relative;
    top: 100px;
}
.section__ejes {
    bottom: 0;
    display: grid;
    min-height: 100%;
    justify-items: center;
    align-content: center;
    opacity: 0;
    list-style: none;
    width: 100vw;
    font-display: swap;
    z-index: 5;
    transition: opacity 1s;
    
    .section__groups {
        position: relative;
        width: 85%;
        height: 100vh;
        display: grid;
        align-content: center;

        .section__title {
            margin: 7rem;
            position: absolute;
            font-family: rozha;
            font-size: 5em;            
            color: #f5f5f5;
            z-index: -1;
        }

        .section__container {
            margin: 0;
            width: 100%;
            height: 550px;
            overflow-y: hidden;
            scrollbar-width: none;
            display: grid;
            grid-template-columns: 300px 300px 300px 300px;
            justify-content: center;
            scroll-behavior: auto;
            gap: 1%;
            transition: grid-template-columns 1s;
 
            .container__item {
                cursor: pointer;
                position: relative;
                transition: background-color .5s, color .5s;
                border-radius: 20px;
                height: 70%;
                color: #ebebebaf;
                overflow: hidden;
                z-index: 200;
                .text__box {
                    margin: 2em 2em 0 25px;
                }
                .box__title {
                    position: absolute;
                    font-family: alte;
                    font-size: 2em;
                }
                .box__paragraph {
                    position: absolute;
                    width: 200px;
                    height: 300px;
                    font-family: OpenSans;
                    font-size: 1.1em;
                    line-height: 1.5;
                }
                .zine{
                    transform: translate(0, 1em);
                }
                .container__icon{
                    position: absolute;
                    width: 300px;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -25%;
                    display: flex;
                    visibility: visible;
                }
                .container__img {
                    position: absolute;
                    height: 100%;
                    left: 101%;
                    top: 0;
                    transition: left .5s;
                }
                .container__text {
                    height: 100px;
                    padding: 0 1em 0 1em;
                }
                .box__icon {
                    position: absolute;
                    filter: saturate(0%) brightness(150%);
                    transition: filter 1s, width 1s;    
                    width: 18%;
                }
            }
            .container__item:hover {
                background-color: #202020;
                color: #e7e7e7;
                .box__icon {
                    width: 20%;
                    filter: saturate(0%) brightness(400%);
                }
                .container__img {
                    left: 50%;
                }
            }
        }
        .section__container:has(.item--talleres:hover){
            grid-template-columns: 600px 300px 300px 300px;
        }
        .section__container:has(.item--espacios:hover){
            grid-template-columns: 300px 600px 300px 300px;
        }
        .section__container:has(.item--audiovisuales:hover){
            grid-template-columns: 300px 300px 600px 300px;
        }
        .section__container:has(.item--editorial:hover){
            grid-template-columns: 300px 300px 300px 600px;
        }

        .org__links {
            position: absolute;
            width: 80%;
            margin: 0 10% 0 10%;
            bottom: 20%;
            height: 130px;
            overflow: hidden;
            background-color: #1b1b1b7e;
            border: 1px solid #0c0c0c15;
            border-radius: 23px;
        }
        .container__slider {
            position: absolute;
            width: 1700px;
            .barra__logos {
                position: absolute;
                width: 200%;
                height: 130px;
                display: flex;
                animation: scroll 100s linear infinite;

                .logos__item {
                    color: #fafafa;
                    margin: auto;
                    gap: 10em;
                    .item--img {
                        filter: brightness(50%);
                        height: 100px;
                    }
                    .img--RPMasc {
                        height: 35px;
                    }
                    .img--PazALP {
                        height: 80px;
                    }
                }
            }
        }
    }
}

#accionares{
    position: absolute;
    width: 100%;
}
.pages__container{
    position: sticky;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .pages {
        position: relative;
        display: grid;
        grid-template-columns: 100vw 100vw;
        width: 100vw;
        height: 100vh;
        left: 0;

        /* animation: box-move auto cubic-bezier(0.69, 0.02, 0.29, 0.99);
        animation-timeline: scroll(root block); */
        .page__image {
            position: sticky;
            right: 30%;
            width: 100%;
            
        }
        .box-uno {
            width: 100vw;
            
        }
        .box-dos {
            width: 100vw;
        }    
    }
}

/* @keyframes box-move {
    25% {left: 0;}
    55% {left: -100%;}
    100%{left: -100%;}
    
    55% {opacity: 100%;}
    60% {opacity: 0;}
    100%{opacity: 0;} 
}   */

.section__ejes.nodes-true {
    opacity: 100%;
    /* transition: opacity .5s; */
}
.section__ejes.nodes-false {
    opacity: 0;
    /* transition: opacity .5s; */
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
@media (max-width:1000px){
    .section__ejes {
        display: flex;
        justify-content: center;
        .section__title {
            display: none;
        }
        .section__groups {
            width: 90%;
            right: auto;

            .section__container {
                grid-template-columns: 90vw 90vw 90vw 90vw 90vw;
                .container__item {
                    width: 100%;

                }
            }
        }
    }
}



.inicio__banner {
    position: absolute;
    width: 80%;
    color: var(--mag-color);
    font-size: 140px;
    font-family: alte_bold;
    font-weight: bold;
    top: 10%;
    left: 150%;
    transform: translate(-50%, 0);
    opacity: 100;
}
.separador__final {  
    height: 1500px;  
}
.separador__final.out__section-separador {
    .inicio__banner {
        opacity: 100%;
        transition: opacity 1s;
    }
}

.section__footer {
    width: 100%;
    height: 300px;
    background-color: var(--mag-color);
    margin: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .com__button{
        width: 100px;
        height: 50px;
        margin: 50px;
        border: 2px solid #0b0b0b;
        border-radius: 15px;
        background-color: var(--mag-color);
        font-size: 1rem;
    }
}
@media (max-width: 1000px) {
    .header__nav{
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: -10%;

        .nav__label {
            position: absolute;
            transition: transform 3s;
            background-image: url("../assets/icons/align-right.svg");
            z-index: 1000;
        }
        .nav__list {
            .list__item{
                display: none;
            }    
        }
    }

    .header:has(.checkbox:checked){
        .header__nav{
            position: absolute;
        }
        .nav__label {
            position: absolute;
            transition: transform 3s;
            background-image: url("../assets/icons/align-right.svg");
            z-index: 1000;
        }
        .nav__list {
            background-color: #0b0b0be5;
            position: absolute;
            width: 70vw;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            top: 10vh;
            border-radius: 50px;
            padding: 0;

            .list__item{
                display: flex;
            }
        }
    }

    .inicio {
        .text__container {
            left: 0;
            width: 100%;
            display: flex;
            padding: 0vw;
            .inicio__banner {
                font-size: 20vw;
                line-height: 0.9;
                text-align: center;
                .p {display: none;}
                .p-resp {display: block}
            }
        }
    }
}
