/* .container{
    text-decoration: initial;
    color: initial;
} */

/* .contain{
    ul{
        border: 3px solid aquamarine;
        li{
            background-color: #00000000;
        }
    }
} */

.contain{
    position: relative;
    background-color: #fafafa;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto auto auto;


    .articles__list{
        position: relative;
        min-height: 700px;
        min-width: 300px;
        max-width: 1300px;
        width: 90%;
        /* gap: 5%; */

        .vertical__title{
            position: sticky;
            top: 0;
            color: #0b0b0b;
            background-color: antiquewhite;
            transform-origin: center center;
            transform: translate(-150%, 0) rotate(-90deg);
        }
        
        .section__title{
            color: #0b0b0b;
            width: 100%;
            mix-blend-mode: darken;
            position: absolute;
            display: flex;
            justify-content: center;
            font-family: alte;
            font-size: 7rem;
            line-height: 1;
            top: -15%;
        }
        .title_matters{
            font-size: 5rem;
        }

        /* .container--principal{
            position: relative;
            .one{
                position: absolute;
                width: 100%;
            }
        } */
        .article{
            position: relative;
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding: 0;
            /* height: 350px; */
            .section__name{
                position: absolute;
                width: 60%;
                height: 5%;
                top: 0;
                left: 0;
                border-radius: 0 10px 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: mont-medium;
                    font-size: .9rem;
                    opacity: 80%;
                }
            }

            .container{
                position: relative;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 3fr 1fr;
                border-radius: 10px;
                overflow: hidden;
                background-color: #e4e4e4;

                figure{
                    margin: 0;
                    transform: scale(100%);
                    transition-duration: .5s;
                }

                .img__box{
                    position: relative;
                    width: 100%;
                    height: 100%;

                    .image__container{
                        position: relative;
                        overflow: hidden;
                        height: 100%;
                        img{
                            position: absolute;
                            object-fit: cover;
                            width: 120%;
                            height: 120%;
                            transition-duration: .6s;
                        }
                    }

                    .article__title{
                        position: absolute;
                        color: #fafafa;
                        width: 100%;
                        height: 100px;
                        bottom: 0;

                        .issue__min_title--filter{
                            position: absolute;
                            mix-blend-mode: multiply;
                            width: 100%;
                            height: 100%;
                        }
                        .issue__min_title{
                            position: relative;
                            width: 95%;
                            text-align: center;
                            font-family: mont-black;
                            font-weight: italic;
                            font-size: 1.5rem;
                            span{
                                font-family: mont;
                                font-weight: light;
                            }
                        }
                        .image_text{
                            opacity: 70%;
                            position: absolute;
                            font-family: mont-medium;
                            font-size: .7rem;
                            bottom: 0;
                            right: 0;
                            margin: 1%;
                        }
                    }
                }
                    
                .description_box{
                    width: 100%;
                    height: 100%;
                }
                .description_text{
                    left: 0;
                    font-family: alte-regular;
                    font-weight: 500;
                    font-size: 1rem;
                    margin: 3%;
                }
            }
            &:hover{
                figure{
                    transform: scale(1.03);
                }
            }
        }
    }
    .articles__list--situation{
        padding: 0;
        padding: 10% 0 0 0;
        display: grid;
        grid-template-columns: minmax(90%, 1200px);
        justify-content: center;
        gap: 5%;

        .container--principal{
            height: 350px;
        }
        .grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            justify-items: center;
            gap: 5%;
            .article{
                height: 350px;
            }
        }
    }
    .articles__list--movement, .articles__list--explosion{
        padding: 40% 0 0 0;
        display: grid;
        width: 90%;
        max-width: 1200px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        justify-content: center;
        gap: 10%;

        .container--principal{
            max-width: 600px;
            min-height: 90%;
            height: 105%;
            min-height: 350px;
            
        }
        .grid{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 350px 350px;
            justify-items: center;
            gap: 8%;
            /* .article{
                height: auto;
            } */
            .article{
                height: 350px;
            }
        }
    }
    /* .articles__list--movement{
        .container--principal{
            grid-column: 2/3;
            grid-row: 1/3;
        }
    }
    .articles__list--explosion{
        .container--principal{
            grid-column: 2/3;
            grid-row: 1/3;
        }
    } */
}