.container{
    text-decoration: initial;
    color: initial;
}

/* .contain{
    ul{
        border: 3px solid aquamarine;
        li{
            background-color: #00000000;
        }
    }
} */

.contain{
    position: relative;
    background-color: #fafafa;
    padding: 5% 12% 15% 20%;
    height: auto;
    display: grid;
    justify-content: center;
    gap: 5%;

    .articles__list--situation{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* grid-template-columns: repeat(3, 1fr); */
        grid-auto-flow: 1fr 1fr;
        /* .container{
            height: 380px;
        } */

        .container--principal{
            position: relative;
            grid-column: 1/4;

            .one{
                position: absolute;
                width: 100%;
            }
        }
    }
    .articles__list--movement, .articles__list--explosion{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        .container--principal{
            position: relative;
            grid-row: 1/3;
            .one{
                position: absolute;
                height: 100%;
            }
        }
    }

    .articles__list--explosion{
        .container--principal{
            grid-column: 2/3;
            grid-row: 1/3;
        }
    }

    .articles__list{
        position: relative;
        background-color: #fafafa;
        width: 90%;
        height: 700px;
        min-width: 300px;
        max-width: 1700px;

        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-columns: repeat(3, 1fr); */

        gap: 3rem;
        column-gap: 50px;
        .section__title{
            color: #0b0b0b;
            width: 100%;
            mix-blend-mode: darken;
            position: absolute;
            display: flex;
            justify-content: center;
            font-family: alte;
            font-size: 7rem;
            line-height: 1;
            top: -15%;
        }
        .title_matters{
            font-size: 5rem;
        }

        .container--principal{
            position: relative;
            .one{
                position: absolute;
                width: 100%;
            }
        }
        .article{
            position: relative;
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding: 0;
            .section__name{
                position: absolute;
                width: 60%;
                height: 5%;
                top: 0;
                left: 0;
                border-radius: 0 10px 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: mont-medium;
                    font-size: .9rem;
                    opacity: 80%;
                }
            }

            .container{
                position: relative;
                /* height: 380px; */
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 3fr 1fr;
                border-radius: 10px;
                overflow: hidden;
                background-color: #e4e4e4;


                figure{
                    margin: 0;
                }
                .img__box{
                    position: relative;
                    width: 100%;
                    height: 100%;

                    .image__container{
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;

                        img{
                            position: absolute;
                            height: 120%;
                            width: fit-content;
                            
                            transition-duration: .6s;
                        }
                        .principal{
                            width: 100%;
                            transform: translate(0, -50%);
                            height: fit-content;
                        }
                    }

                    .article__title{
                        position: absolute;
                        color: #fafafa;
                        width: 100%;
                        height: 100px;
                        bottom: 0;

                        .issue__min_title--filter{
                            position: absolute;
                            /* background-color: #ff0000aa; */
                            mix-blend-mode: multiply;
                            width: 100%;
                            height: 100%;
                        }
                        .issue__min_title{
                            position: relative;
                            width: 95%;
                            text-align: center;
                            font-family: mont-black;
                            font-weight: italic;
                            font-size: 1.5rem;
                            span{
                                font-family: mont;
                                font-weight: light;
                            }
                        }
                        .image_text{
                            opacity: 70%;
                            position: absolute;
                            font-family: mont-medium;
                            font-size: .7rem;
                            bottom: 0;
                            right: 0;
                            margin: 1%;
                        }
                    }



                    
                }
                    
                .description_box{
                    width: 100%;
                    height: 100%;
                }
                .description_text{
                    left: 0;
                    font-family: alte-regular;
                    font-weight: 500;
                    font-size: 1rem;
                    margin: 3%;
                }
            }
            &:hover{
                img{
                    transform: scale(1.03);
                }
            }
        }
    }
}