body {
  --border: 50px ;
}

.section__title {
  margin: 0;
  padding-bottom: 2%;
  color: rgba(0, 0, 0, 0.1333333333);
  font-family: alte;
  font-size: 5rem;
  background-image: url("/Frontend/assets/img/in_tension/issues/textura_muro.webp");
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  background-position: fixed;
  position: absolute;
  left: 0;
  top: 40%;
}

.content__box {
  position: relative;
  display: grid;
  justify-items: center;
}
.content__box .archive__message {
  width: 85%;
  top: 0;
  text-align: center;
  font-size: 17px;
  font-family: mont-medium;
  letter-spacing: 5px;
  opacity: 70%;
}
.content__box .archive__message span {
  font-weight: 600;
}

.box__section {
  opacity: 80%;
  transition-duration: 0.5s;
}
.box__section img {
  filter: saturate(0) brightness(80%);
  transition-duration: 0.5s;
}
.box__section .filters {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  mix-blend-mode: darken;
  transition-duration: 0.5s;
}
.box__section .filter-editorial {
  position: absolute;
  width: 100%;
  mix-blend-mode: multiply;
  display: none;
}
.box__section .article_description {
  color: #fafafa;
  font-size: 0.9rem;
  font-family: mont-medium;
  text-wrap: pretty;
  hyphenate-limit-chars: 7;
  position: absolute;
  margin-top: 0;
  margin-left: 5%;
  width: 80%;
  height: auto;
  top: 50%;
  transform: translate(0, -60%);
  opacity: 0;
  transition-duration: 1s;
}
.box__section .h_article {
  color: #fafafa;
  position: absolute;
  font-family: alte;
  transition-duration: 0.5s;
}
.box__section .h_article:hover {
  cursor: pointer;
}
.box__section:hover {
  opacity: 100%;
}
.box__section:hover img {
  filter: saturate(0) brightness(90%) blur(2px);
}
.box__section:hover .filter_red, .box__section:hover .filter_aquamarine {
  opacity: 100%;
}
.box__section:hover .filter_violet {
  opacity: 100%;
}
.box__section:hover .filter_issue {
  opacity: 100%;
}
.box__section:hover .h_article span {
  transform: translate(-50%, 10%);
}
.box__section:hover .article_description {
  opacity: 1;
}

.vertical__title {
  transform: rotate(-90deg);
}

.icon__title {
  transform: translate(100px, -30%);
  font-size: 2.5rem;
}

.articles__box {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 68px;
}
.articles__box .articles__container {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 450px;
  display: grid;
  grid-template-columns: 56% 40%;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4%;
}
.articles__box .articles__container .content__icons {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* opacity: 0; */
  bottom: 0;
  /* left: 10%; */
  /* transform: translate(0, 130%); */
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
}
.articles__box .articles__container .content__icons figure {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.articles__box .articles__container .content__icons figure img {
  width: 100%;
  height: 100%;
}
.articles__box .articles__container .filter_section-1 .icon__background {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  top: 0;
  position: absolute;
}
.articles__box .articles__container .filter_section-1 .icon__background img {
  transform: translate(-50%, -50%);
  height: 500%;
  width: -moz-fit-content;
  width: fit-content;
}
.articles__box .articles__container .filter_section-1 .icon {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articles__box .articles__container .filter_section-1 .icon .filter {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--section-1-color);
  mix-blend-mode: darken;
  /* opacity: 70%; */
}
.articles__box .articles__container .filter_section-1 .icon img {
  position: absolute;
  width: 90%;
  height: 90%;
}
.articles__box .articles__container .filter_section-2 {
  /* background-color: var(--section-2-color);
  figure{
      width: 90%;
      height: 90%;
  } */
}
.articles__box .articles__container .filter_section-2 .icon__background {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.articles__box .articles__container .filter_section-2 .icon__background img {
  transform: translate(-50%, -50%);
  height: 500%;
  width: -moz-fit-content;
  width: fit-content;
}
.articles__box .articles__container .filter_section-2 .icon {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articles__box .articles__container .filter_section-2 .icon .filter {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--section-2-color);
  mix-blend-mode: darken;
  /* opacity: 40%; */
}
.articles__box .articles__container .filter_section-2 .icon img {
  position: absolute;
  width: 90%;
  height: 90%;
}
.articles__box .articles__container .filter_section-3 {
  /* background-color: var(--section-3-color);
  figure{
      width: 70%;
      height: 70%;
  } */
}
.articles__box .articles__container .filter_section-3 .icon__background {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  top: 0;
  position: absolute;
}
.articles__box .articles__container .filter_section-3 .icon__background img {
  transform: translate(-80%, -80%);
  height: 500%;
  width: -moz-fit-content;
  width: fit-content;
}
.articles__box .articles__container .filter_section-3 .icon {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.articles__box .articles__container .filter_section-3 .icon .filter {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--section-3-color);
  mix-blend-mode: darken;
  /* opacity: 70%; */
}
.articles__box .articles__container .filter_section-3 .icon img {
  position: absolute;
  width: 70%;
  height: 70%;
}
.articles__box .articles__container .section__1 {
  position: relative;
  grid-row: 1/4;
  overflow: hidden;
  border-radius: 5px var(--border) 5px var(--border);
}
.articles__box .articles__container .section__1 figure {
  position: absolute;
  margin: 0;
  height: 100%;
  left: 0;
  bottom: 0;
}
.articles__box .articles__container .section__1 figure img {
  left: 0;
  height: 100%;
}
.articles__box .articles__container .section__1 .h_article {
  position: relative;
  height: 100%;
  width: 100%;
}
.articles__box .articles__container .section__1 .h_article .matters {
  position: absolute;
  bottom: 15%;
  width: 100%;
  font-size: 2rem;
  transition-duration: 1s;
  transform: translate(0, -280%);
}
.articles__box .articles__container .section__1 .h_article .tension {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
  transform: translate(0, -120%);
  font-size: 4.7rem;
  transition-duration: 1s;
}
.articles__box .articles__container .section__1:hover .matters {
  transform: translate(0, 0);
}
.articles__box .articles__container .section__1:hover .tension {
  transform: translate(0, 20%);
}
.articles__box .articles__container .section__2 {
  position: relative;
  border-radius: var(--border) 5px var(--border) 5px;
  grid-row: 1/2;
  overflow: hidden;
}
.articles__box .articles__container .section__2 figure {
  position: absolute;
  height: 100%;
  right: 0;
  margin: 0;
}
.articles__box .articles__container .section__2 figure img {
  background-color: aquamarine;
  right: 0;
  height: 305%;
}
.articles__box .articles__container .section__2 .h_article {
  height: 100%;
  width: 100%;
}
.articles__box .articles__container .section__2 .h_article .mind {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  font-size: 4.5rem;
  transform: translate(-50%, -50%);
  transition-duration: 1s;
}
.articles__box .articles__container .section__2 .h_article .field {
  position: absolute;
  left: 100%;
  line-height: 1lh;
  top: 50%;
  font-size: 2rem;
  transform-origin: left bottom;
  transform: rotate(-90deg);
  transition-duration: 0.5s;
}
.articles__box .articles__container .section__2:hover .mind {
  transform: translate(-50%, 20%);
}
.articles__box .articles__container .section__2:hover .field {
  transform: translate(10%, 0) rotate(-90deg);
}
.articles__box .articles__container .section__3 {
  position: relative;
  border-radius: 5px var(--border) 5px 5px;
  overflow: hidden;
}
.articles__box .articles__container .section__3 figure {
  position: absolute;
  margin: 0;
  height: 305%;
  width: -moz-fit-content;
  width: fit-content;
  right: 0;
  top: -100%;
  /* margin: 0; */
}
.articles__box .articles__container .section__3 figure img {
  height: 100%;
}
.articles__box .articles__container .section__3 .h_article {
  width: 100%;
  height: 100%;
}
.articles__box .articles__container .section__3 .h_article .stupidity {
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 2.9rem;
  bottom: 0;
  transform: translate(0, -100%);
  transition-duration: 1s;
}
.articles__box .articles__container .section__3:hover .stupidity {
  transform: translate(0, 10%);
}
.articles__box .articles__container .section__4 {
  position: relative;
  border-radius: 5px var(--border) 5px var(--border);
  overflow: hidden;
}
.articles__box .articles__container .section__4 figure {
  position: absolute;
  height: 100%;
  right: 0;
  margin: 0;
}
.articles__box .articles__container .section__4 figure img {
  background-color: aquamarine;
  right: 0;
  height: 305%;
  transform: translate(0, -67%);
}
.articles__box .articles__container .section__4 .h_article {
  width: 100%;
  height: 100%;
}
.articles__box .articles__container .section__4 .h_article .bord {
  position: absolute;
  font-size: 3.3rem;
  bottom: 0;
  transform: translate(0, -80%);
  transition-duration: 1s;
}
.articles__box .articles__container .section__4 .h_article .lands {
  /* background-color: aquamarine; */
  position: absolute;
  width: 100%;
  font-size: 2rem;
  transform-origin: left bottom;
  transform: translate(100%, 0) rotate(-90deg);
  top: 60%;
  line-height: 1lh;
  transition-duration: 0.5s;
}
.articles__box .articles__container .section__4:hover .bord {
  transform: translate(0, 20%);
}
.articles__box .articles__container .section__4:hover .lands {
  transform: translate(105%, 0) rotate(-90deg);
}
.articles__box .articles__container .section__5 {
  position: relative;
  border-radius: 5px var(--border) 5px var(--border);
  /* background-color: #2c2c2c; */
  grid-row: 1/4;
  overflow: hidden;
}
.articles__box .articles__container .section__5 figure {
  position: absolute;
  margin: 0;
  width: 200%;
  top: -7%;
}
.articles__box .articles__container .section__5 figure img {
  width: 100%;
}
.articles__box .articles__container .section__5 .h_article {
  height: 100%;
  width: 100%;
}
.articles__box .articles__container .section__5 .h_article .re {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 12rem;
  transform-origin: center center;
  transform: scale(1) translate(0, 10%);
  transition-duration: 0.5s;
}
.articles__box .articles__container .section__5 .h_article .education {
  position: absolute;
  font-size: 3.5rem;
  top: 20%;
  left: 0;
  transform-origin: bottom center;
  transform: rotate(-90deg) translate(0, 50%);
  line-height: 2lh;
  transition-duration: 1s;
}
.articles__box .articles__container .section__5:hover .re {
  transform: scale(1.3) translate(0, 10%);
}
.articles__box .articles__container .section__5:hover .education {
  transform-origin: bottom center;
  transform: rotate(-90deg) translate(0, 0);
  left: 50%;
}
.articles__box .articles__container .section__6 {
  position: relative;
  border-radius: 5px var(--border) 5px var(--border);
  overflow: hidden;
  grid-row: 1/3;
}
.articles__box .articles__container .section__6 .article_description {
  width: 70%;
}
.articles__box .articles__container .section__6 figure {
  right: 0;
  position: absolute;
  margin: 0;
  width: 220%;
}
.articles__box .articles__container .section__6 figure img {
  width: 100%;
}
.articles__box .articles__container .section__6 .h_article {
  position: relative;
  height: 100%;
  width: 100%;
}
.articles__box .articles__container .section__6 .h_article .on {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -10%;
  font-size: 7rem;
  transform: translate(0, 0);
  transition-duration: 1s;
}
.articles__box .articles__container .section__6 .h_article .resistence {
  position: absolute;
  font-size: 2.5rem;
  line-height: 1lh;
  transform-origin: bottom center;
  transform: rotate(-90deg) translate(0, 0);
  top: 30%;
  left: 0;
  transition-duration: 1s;
}
.articles__box .articles__container .section__6:hover .on {
  transform: translate(0, 5%);
}
.articles__box .articles__container .section__6:hover .resistence {
  transform: rotate(-90deg) translate(0, -50%);
  left: 50%;
}
.articles__box .articles__container .section__7 {
  position: relative;
  border-radius: 5px var(--border) 5px var(--border);
  overflow: hidden;
}
.articles__box .articles__container .section__7 figure {
  position: absolute;
  width: 300%;
  right: -100%;
  bottom: -20%;
  margin: 0;
  position: absolute;
}
.articles__box .articles__container .section__7 figure img {
  width: 100%;
}
.articles__box .articles__container .section__7 .h_article {
  width: 100%;
  height: 100%;
}
.articles__box .articles__container .section__7 .h_article .ficto {
  position: absolute;
  font-size: 4.5rem;
  width: 100%;
  transform: translate(0, 50%);
  transition-duration: 1s;
}
.articles__box .articles__container .section__7 .h_article .factions {
  /* background-color: aquamarine; */
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 80%;
  text-align: center;
  line-height: 1lh;
  font-size: 1.8rem;
  transform-origin: left bottom;
  transform: rotate(-90deg);
  transition-duration: 1s;
}
.articles__box .articles__container .section__7:hover .ficto {
  transform: translate(0, 100%);
}
.articles__box .articles__container .section__7:hover .factions {
  transform: rotate(-90deg) translate(0, 20%);
}
.articles__box .articles__container .section__8 {
  padding: 0;
  margin: 0;
  position: relative;
  border-radius: var(--border) 5px 5px var(--border);
  /* background-color: #2c2c2c; */
  /* grid-column: 1/3; */
  grid-row: 1/4;
  overflow: hidden;
}
.articles__box .articles__container .section__8 .article_description {
  width: 70%;
}
.articles__box .articles__container .section__8 figure {
  position: absolute;
  margin: 0;
  width: 300%;
  top: -7%;
  left: -30%;
}
.articles__box .articles__container .section__8 figure img {
  width: 100%;
}
.articles__box .articles__container .section__8 .h_article {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.articles__box .articles__container .section__8 .h_article .voices {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 6.2rem;
  line-height: 4lh;
  top: 40%;
  transform-origin: center center;
  transform: translate(0, 0) rotate(-90deg);
  transition-duration: 1s;
}
.articles__box .articles__container .section__8 .h_article .voices_shadow_1 {
  left: 22%;
  opacity: 30%;
}
.articles__box .articles__container .section__8 .h_article .voices_shadow_2 {
  left: -8%;
  opacity: 60%;
}
.articles__box .articles__container .section__8 .h_article .voices_shadow_3 {
  left: -38%;
}
.articles__box .articles__container .section__8:hover .voices {
  left: 35%;
}
.articles__box .articles__container .section__9 {
  position: relative;
  border-radius: 5px var(--border) 5px 0px;
  grid-row: 1/3;
  overflow: hidden;
}
.articles__box .articles__container .section__9 figure {
  position: absolute;
  margin: 0;
  width: 300%;
  bottom: -7%;
  left: -30%;
}
.articles__box .articles__container .section__9 figure img {
  width: 100%;
}
.articles__box .articles__container .section__9 .h_article {
  height: 100%;
  width: 100%;
}
.articles__box .articles__container .section__9 .h_article .re {
  position: absolute;
  bottom: 0;
  font-size: 10rem;
  left: 50%;
  transform: translate(-50%, 10%);
  transition-duration: 0.5s;
}
.articles__box .articles__container .section__9 .h_article .views {
  position: absolute;
  font-size: 3rem;
  left: 95%;
  top: 30%;
  transform: translate(-120%, -50%) rotate(-90deg);
  transition-duration: 1s;
}
.articles__box .articles__container .section__9:hover .re {
  font-size: 12rem;
  transform: translate(-50%, 30%);
}
.articles__box .articles__container .section__9:hover .views {
  transform: translate(-50%, -50%) rotate(-90deg);
}
.articles__box .articles__container .section__10 {
  position: relative;
  border-radius: 5px 5px 5px var(--border);
  grid-row: 3/4;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles__box .articles__container .section__10 figure {
  position: absolute;
  margin: 0;
  width: 300%;
  top: -7%;
  right: -100%;
}
.articles__box .articles__container .section__10 figure img {
  width: 100%;
}
.articles__box .articles__container .section__10 .circle {
  position: relative;
  width: 90px;
  height: 90px;
  border: 5px solid #fafafa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.articles__box .articles__container .section__10 .circle .filtro__hereandnow {
  position: absolute;
  mix-blend-mode: color;
  opacity: 100%;
  top: 0;
  width: 100%;
  height: 100%;
}
.articles__box .articles__container .section__10 .circle .hereandnow {
  color: #fafafa;
  font-family: alte;
  font-size: 1.3rem;
  line-height: 1.2lh;
  position: absolute;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-decoration: initial;
  width: 80%;
}
.articles__box .articles__container .section__10 .circle .hereandnow .and {
  font-size: 2rem;
}
.articles__box .articles__container .section__10 .circle .hereandnow .now {
  width: 100%;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px #fafafa;
  font-size: 2rem;
  grid-column: 1/3;
}
.articles__box .articles__container:hover .content__icons {
  opacity: 1;
}/*# sourceMappingURL=sections-container.css.map */