
.banner{
    position: relative;
    width: 100vw;
    min-height: 80rem;

    .banner__container{
        position: relative;
        width: 100%;
        height: 100%;
        position: fixed;
        display: grid;
        // justify-content: center;
        // align-items: center;
        align-content: center;
        justify-items: center;
        .section__text{
            top: 20%;
        }

    }
}
.background__image{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    
    img{
        position: absolute;
        object-fit: cover;
        width: 100%;    
        height: 100%;
        top: 0;
    }
    .gradient{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .gradient__bg-prototype{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));
    }
    .gradient__bg-sections{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    }
    .filtro__banner{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .banner-issue{
        opacity: 100%;
        mix-blend-mode: color;
    }
    .banner-section{
        opacity: 100%;
        mix-blend-mode: darken;
    }
    .low_opacity{
        opacity: 100%;
    }
}
.section__text{
    .filter--back{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #00000033;
        mix-blend-mode: hard-light;
    }
    .filter--over{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #33003399;
        mix-blend-mode: saturation;
    }
    .description{
        position: relative;
        width: 90%;
        color: #fafafa;
        font-family: mont-medium;
        font-size: 1.2rem;
        line-height: 1.4;
        text-align: justify;
        hyphens: auto;
        hyphenate-limit-chars: 7;
        .bold{
            font-family: mont-extrabold;
        }
    }
    .size--extra{
        font-size: 1.4rem;
    }
    .margin-extra{
        margin-inline: 3rem;
    }
}


.articles{
    position: relative;
    width: 100%;
    z-index: 10;
    .articles__container{
        background-color: #fafafa;
        position: absolute;
        top: 0;
        width: 100%;
        min-height: 130vh;
    }
}

.index{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    figure{
        height: 120%;
        margin: 0;
    }

}

.filters{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    transition-duration: .5s;
}

@media (width < 1800px){
.section__text{
    transform: scale(.7);
}
.articles__list{
    transform: scale(.7) translate(0, -20%);
}
}

