
.section__text{
    width: 900px;
    height: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    z-index: 1;
    .title{
        text-align: center;
        position: relative;
        width: 100px;
        font-family: alte;
        color: #fafafa;
        bottom: 0;
        .mind{
            position: absolute;
            top: -30%;
            font-size: 5rem;
            transform: translate(-25%, 0);
        }
        .field{
            line-height: 0;
            position: absolute;
            font-size: 8rem;
            right: -100%;
            top: 0;
            transform-origin: center;
            transform: rotate(-90deg) translate(-50%, 0);
        }
    }
    .description{
        width: 800px;
        background-color: #00000088;
        padding: 5%;
        mix-blend-mode: luminosity;
        border-radius: 10px;
        color: #fafafa;
        font-family: alte-regular;
        font-size: 1.2rem;
        line-height: 1.4;
        text-align: justify ;
    }
}
