
body{
    --section-1-color:#ff0000;
    --section-2-color:#9400ff;
    --section-3-color:#006666;
    --issue-color: #d7ff39;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.section__one-color{
    background-color: var(--section-1-color);
}
.section__two-color{
    background-color: var(--section-2-color);
}
.section__three-color{
    background-color: var(--section-3-color);
}
.section__one-text-color{
    color: var(--section-1-color);
}
.section__two-text-color{
    color: var(--section-2-color);
}
.section__three-text-color{
    color: var(--section-3-color);
}
.issue-color{
    background-color: var(--issue-color);
}
.banner{
    width: 100vw;
    height: 100vh;
    .banner__container{
        position: relative;
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        .background__image{
            position: absolute;
            margin: 0;
            width: 100%;
            height: 100%;
            img{
                position: absolute;
                width: 120%;
                height: fit-content;
                top: -40%;
            }
            .filtro__banner{
                position: absolute;
                opacity: 70%;
                mix-blend-mode: darken;
                width: 100%;
                height: 100%;
            }
            .low_opacity{
                opacity: 30%;
            }
        }
    }
}
.contain{
    position: sticky;
    top: 0;
    background-color: #fafafa;
    width: 100%;
    /* max-width: 1000px; */
    height: auto;
    /* border-radius: 30px; */
    display: flex;
    justify-content: center;
    padding-block: 10%;
    /* margin-block: 10%; */
    .articles__list{
        position: relative;
        width: 100%;
        max-width: 1700px;
        height: auto;
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
        grid-template-columns: 1fr;
        justify-items: center;        
        row-gap: 0%;
        .section__title{
            color: #0b0b0b;
            width: 100%;
            /* opacity: 60%; */
            mix-blend-mode: darken;
            position: absolute;
            display: flex;
            justify-content: center;
            font-family: alte;
            font-size: 7rem;
            line-height: 1;
            top: -15%;
            /* display: none; */
        }
        .title_matters{
            font-size: 5rem;
        }
        .article{
            position: relative;
            width: 90%;
            max-width: 700px;
            height: 15vh;
            overflow: hidden;
            border-radius: 20px;
            bottom: -12%;
            figure{
                margin: 0;
            }
            .article__title{
                position: absolute;
                width: 100%;
                height: 80%;
                bottom: 0;
                /* opacity: 0;                */
                .filter{
                    position: absolute;
                    width: 100%;
                    height: 60%;
                    bottom: 0;
                    /* mix-blend-mode: darken; */
                    
                }
                
                .article_one{
                    opacity: 20%;
                }
                .article_two{
                    opacity: 40%;
                }
                .article_three{
                    opacity: 60%;
                }
                .issue__min-title{
                    position: absolute;
                    top: 5%;
                    width: 90%;
                    text-align: center;
                    font-family: mont-black;
                    font-weight: italic;
                    color: #0b0b0b;
                    font-size: 1.5rem;
                    left: 50%;
                    transform: translate(-50%, 0);
                    span{
                        font-family: mont;
                        font-weight: light;
                    }

                }
            }
            .description_box{
                position: absolute;
                width: 100%;
                height: 40%;
                /* background-color: var(--section-1-color); */
                bottom: 0;
            }
            .description_text{
                margin: 0 10% 0 10%;
                font-family: alte-regular;
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
    }
}
.articles{
    background-color: #fafafa;
    position: relative;
    width: 100%;
    .articles__container{
        width: 100%;
        height: 200vh;
    }
}
.in-tension__footer{
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
}