
@font-face {
    font-family: alte;
    src: url("AlteHaasGroteskBold.ttf") format("truetype");
}

@font-face {
    font-family: alte_bold;
    font-weight: bold;
    src: url("AlteHaasGroteskBold.ttf") format("truetype");
}
