
/* .article{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}
.title{
    font-size: 10rem;
}
.text{
    text-align: justify;
    font-size: 1.8rem;
    line-height: 2.5rem;
} */