body{
    background-color: #fafafa;
    height: fit-content;
    overflow-x: hidden;
}
/* .articles{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.article{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    position: absolute;
    width: 40%;
    height: 100vh;
    font-family: alte;
    .title{
        font-size: 3rem;
    }
    .text{
        text-align: justify;
        font-size: 1.8rem;
        line-height: 3rem;
    }
} */    

.issue-pres{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 0;
    .title-issue{
        color: #fafafa;
        margin: 0;
        width: 100%;
        font-family: mont-extrabold;
        font-size: 4.5rem;
        text-align: center;
        bottom: 0;
    }
    .issue-icon{
        width: 100%;
        margin: 0;
        img{
            margin: 0;
            width: 100%;
        }
    }
}

a{
    color: initial;
    text-decoration: initial;
}
.back_image-intex{
    opacity: 100%;
}
.index{
    .content__box{
        position: sticky;
        width: 110%;
        
        .articles__box{
            position: absolute;
            justify-content: center;
            .articles__container{
                left: 55%;
                transform: translate(-20%, -180%);
            }
            .box__section{
                border: 4px solid #fafafa;
                opacity: 100%;
                &:hover{
                    background-color: #5d6e0036;
                    backdrop-filter: blur(5px);
                }
            }

        }
    }
}

/* content sections */

.icon__issue{
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    top: 12%;
    img{
        width: 200px;
        height: 100px;
    }
}
.vertical__title{
    font-size: 5rem;
    color: #fafafa;
    opacity: 100%;
    height: 200px;
}
.index_issue{
    position: relative;
    img{
        top: 0;
    }
}

.separator{
    height: 1100px;
}

/* sections container. */



/* .articles__container{


} */

.articles__container{
    .content__icons{
        width: 50px;
        height: 50px;
        border: 3px solid #fafafa;
        overflow: hidden;
    }
    .content__icons{
        opacity: 1;
        left: 50%;
        transform: translate(-50%, 130%);
    }
    &:hover{
        .content__icons{
            left: 50%;
            opacity: 1;
        }
    }
}

.icon__svg{
    transform: scale(110%);
}

.icon__svg--two{
    top: 10%;
    left: -4%;
}
.icon__svg--three{
    top: 10%;

}

.articles__container{
    .box__section{

        &:hover{
            opacity: 100%;
            img{
                filter: saturate(0) brightness(90%) blur(2px);
            }
            .filter_red, .filter_aquamarine{
                opacity: 70%;
            }
            .filter_violet{
                opacity: 30%;
            }
            .filter_issue{
                opacity: 100%;
            }

            .h_article{
                span{
                    transform: translate(-50%, 10%);
                }
            }
            .article_description{
                opacity: 1;
            }
        }
    }

}

