<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>[Accionares] - Diseño Detonante</title>
	<link rel="stylesheet" href="../style/style.css">
	<link rel="stylesheet" href="../style/audiovisual.css">
    <link rel="stylesheet" href="../style/accionar.css">
	<link rel="stylesheet" href="../assets/fonts/montserrat-font_T/Montserrat.css">
	<link rel="stylesheet" href="../assets/fonts/alte_haas_grotesk_T2/AlteHaasGrotesk.css">
<!-- 	<script src="../script/script.js"></script> -->
</head>
<body class="background">
	<header class="header">
		<div class="header__container">
			<a class="container__logo" href="../index.html">
				<img id="logo" class="header__logo hlogo--color" src="../assets/icons/LLAMITA.svg">
				<p class="didetonante">Diseño <strong>Detonante</strong></p>
			</a>
		</div>
		<nav class="header__nav">
			<ul class="nav__list">
				<li class="list__item"><a class="item__link" href="../index.html">Inicio</a></li>
				<li class="list__item"><a class="item__link" href="nosotrxs.html">Nosotrxs</a></li>
				<li class="list__item"><a class="item__link" href="#">Accionares</a></li>
				<li class="list__item"><a class="item__link" href="in-tension.html">In-Tension</a></li>
				<li class="list__item item--button button--open"><img class="hicon--color" src="../assets/icons/send-horizontal.svg"></li>
			</ul>
		</nav>
	</header>
	<section class="audiovisual__section">

		<div class="container">

			<div class="controls box">
				<figure class="mutante__icon">
					<img class="mutante__icon" src="..	/assets/icons/audiovisuales/MUTANTE.svg" alt="">
				</figure>
				<p class="paragraph__item" >
					Este es el texto que tendremos en cada sección en modo de descripción de la misma.
					Lo que se quiere con esta es que sea una especie de portada general en cada parte global. 
				</p>
			</div>
			<div class="image box">
				<figure class="mutante__img">
					<img class="mutante__img" src="../assets/img/nodos/audiovisual/mutante_mapa.jpg" alt="">
				</figure>
			</div>
			<div class="data box">
			</div>
		</div>
	</section>
    <script src="../script/script.js"></script>
    <script src="../script/sec__page.js"></script>
    <div class="contenido">
    </div>
</body>
</html>
