<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Frontend/style/normalize.css">
    <link rel="stylesheet" href="/Frontend/assets/fonts/fonts.css">
    <link rel="stylesheet" href="/Frontend/style/InTension/general/conventions.css">
    <link rel="stylesheet" href="/Frontend/style/InTension/about-us.css">

	<link rel="stylesheet" href="/Frontend/style/header-and-behavior.css">
    <link rel="stylesheet" href="/Frontend/style/InTension/in-tension.css">

	<link rel="stylesheet" href="/Frontend/style/InTension/general/article_style.css">
    <link rel="stylesheet" href="/Frontend/style/InTension/archive/text_style_articles.css">

</head>
<body>
    <header class="header">
        <div class="header__container">
            <a class="container__logo" href="/index.html">
                <img id="logo" class="header__logo hlogo--color" src="/Frontend/assets/icons/LLAMITA.svg">
            </a>
        </div>
        <div class="intension__container">
            <a href="/Frontend/templates/InTension/in-tension.html"><img class="intension__logo" src="/Frontend/assets/logos/intensionheader.svg" alt="logo In-Tension"></a>
        </div>
        <nav class="header__nav">
            <label class="nav__label">
                <input class="checkbox" type="checkbox">
            </label>
            <ul class="nav__list">
                <!-- <li class="list__item item--button"><img class="send__icon" src="/Frontend/assets/icons/align-justify.svg"></li> -->
                <li class="list__item item--button" onclick="modal('/Frontend/assets/img/nodos/editorial.webp')"><img class="send__icon" src="/Frontend/assets/icons/send-horizontal.svg"></li>
                <li class="list__item item--button"><img class="send__icon" src="/Frontend/assets/icons/idioma-ES.svg"></li>
            </ul>
        </nav>
    </header>
    <figure class="background__image">
        <img src="/Frontend/assets/img/in_tension/issues/textura_arbol.webp" alt="">
    </figure>
    <section class="aboutus-head">
        <div class="head__container">
            <div class="title-box">
                <h1 class="title">About us</h1>
                <h2 class="subtitle">Who are we</h2>
            </div>
            <div class="visualprofiles">
                <div class="profile__container">
                    <div class="circle circle__centerbottom "></div>
                    <div class="circle circle__righttop">
                        <figure class="photo__container"><img src="/Frontend/assets/img/in_tension/about-us/bitmap.png" alt="texture"></figure>
                    </div>
                    <div class="circle circle__leftcenter">
                        <figure class="photo__container"><img src="/Frontend/assets/img/in_tension/about-us/Anne Marie.webp" alt="Retrato: Anne Merie"></figure>
                    </div>
                    <div class="box__name">
                        <p class="name__text text--anne">Anne Marie Willis</p>
                    </div>
                    <div class="text__description">
                        <p>Former editor Design Philosophy Papers Writer and educator</p>
                    </div>         
                </div>
                <div class="profile__container">
                    <div class="circle circle__centerbottom"></div>
                    <div class="circle circle__righttop">
                        <figure class="photo__container"><img src="/Frontend/assets/img/in_tension/about-us/bitmap.png" alt="texture"></figure>
                    </div>
                    <div class="circle circle__leftcenter">
                        <figure class="photo__container"><img src="/Frontend/assets/img/in_tension/about-us/Carolina.webp" alt="Retrato: Carolina"></figure>
                    </div>
                    <div class="box__name">
                        <p class="name__text text--car">Carolina Martinez</p>
                    </div>  
                    <div class="text__description">
                        <p>Designer-Filmmaker. Nomadic Studio Diseño Detonante</p>
                    </div>
                </div>
                <div class="profile__container">
                    <div class="circle circle__centerbottom"></div>
                    <div class="circle circle__righttop">
                        <figure class="photo__container"><img src="/Frontend/assets/img/in_tension/about-us/bitmap.png" alt="texture"></figure>
                    </div>
                    <div class="circle circle__leftcenter">
                        <figure class="photo__container"><img src="/Frontend/assets/img/in_tension/about-us/Hector.webp" alt="Retrato: Hector"></figure>
                    </div>
                    <div class="box__name">
                        <p class="name__text text--hec">Hector Tabares</p>
                    </div>
                    <div class="text__description">
                        <p>Filmmaker-Designer. Nomadic Studio Diseño Detonante</p>
                    </div>
                </div>
                <div class="profile__container">
                    <div class="circle circle__centerbottom"></div>
                    <div class="circle circle__righttop">
                        <figure class="photo__container"><img src="/Frontend/assets/img/in_tension/about-us/bitmap.png" alt="texture"></figure>
                    </div>
                    <div class="circle circle__leftcenter">
                        <figure class="photo__container"><img src="/Frontend/assets/img/in_tension/about-us/Tony.webp" alt="Retrato: Tony"></figure>
                    </div>
                    <div class="box__name">
                        <p class="name__text text--tony">Tonny Fry</p>
                    </div>
                    <div class="text__description">
                        <p>Principal, Studio at the Edge of the World, Tasmania and author of many books</p>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="description__text"></div>
        <div class="text-about">
                <div class="text">             
                    <div class="paragraph showparagraph">
                        <p class="subtitle">Meeting in the Borderland</p>
                        <p class="paragraph">
                            The differences between us (Tony, Anne-Marie, Hector and Carolina) are many. Differences of time zones, languages, economy, work environment, age, education and culture. Yet we have created a space of knowledge, opinions, ideas, and concerns, and in doing so we work together in a place of exchange, a borderland.
                            <span class="highlighted__bold">In-Tension is the product of our cooperative working arrangement built with time and care toward the other and their differences.</span>
                            Our aim through the publication, podcasts, projects and events is to expand this collaborative space. 
                        </p>
                        <p class="paragraph">
                            The reason for creating In Tension can be seen in its content and how it inter-relates. Underpinning it is the notion of the ‘end times’ - which is not just a characterisation of the age, but also a mental, physical, and emotional state  that impinges on so many of us  in different areas, both within and outside the global North and South and their complexities. A key aspect of this is stupidity, which has become structural, as it can be seen in so many world systems and events. This situation prompts the need for a constructive and interwoven resistance that results  particularly in  changes  in nature,  content, and significance of education. Equally, in facing the facts of worlds of crisis, other futures have to be imagined beyond idealist fantasies and utopias. So viewed, 
                            <span class="highlighted__bold">we all find ourselves in a borderland between how things defuturingly are and how they need to futurally be. This situation can only change collectively.</span>
                        </p>
                        <p class="paragraph">
                            Understanding the collective as a careful creation of boundaries and bridges, where we recognize that what we comprehend as the other, academically, geographically, and culturally  is not distant or unrelated, but rather part of what defines our existence and becoming. This implies and will imply ruptures at various levels as well as disruptive conversations that challenge convictions of all kinds. As a team of in-tension, we are willing to engage in these conversations and extend an invitation to do so. 
                        </p>
                        <p class="paragraph">
                            Thus, communication is essential for this collectivity, as a change community, to come into being. 
                            <span class="highlighted__bold">In-Tension is one modest contribution. It asserts a refusal of helplessness as life is lived in the end times. It is a product of difference, of a borderland,   the invitation is open. </span>
                        </p>
                    </div>
                </div>
            </div>
    </section>

    <div class="separator">
        <div class="gradient__bg-info"></div>
        <div class="filter--Ourambition">
            <h2>Our Ambition?</h2>
            <p class="paragraph">
                <span class="highlighted__bold">To create a space that gives voice to, and expresses the condition of tension that denotes the existential condition of being-in-the world now.</span>
                To build a community of communication, a cross-readership dialogue, that also disseminates information, ideas, collaborative opportunities.
                <span class="highlighted__bold">To develop dialogue on critical issues in ways that prompt projects, action and events.</span>
                To build an archive of ideas and images.
                To  highlight politically underdeveloped and neglected  issues and new ways of thinking about familiar ones.
                <span class="highlighted__bold">To enable a space of bilingual exchange between voices of the South and North in and beyond their respective geographies.</span>

            </p>
        </div>
    </div>
    <div class="separator">

    </div>
    <div class="separator">
        <div class="gradient__bg-info"></div>
        <div class="filter--Ourambition">
            <h2>Our Ambition?</h2>
            <p class="paragraph">
                <span class="highlighted__bold">To create a space that gives voice to, and expresses the condition of tension that denotes the existential condition of being-in-the world now.</span>
                To build a community of communication, a cross-readership dialogue, that also disseminates information, ideas, collaborative opportunities.
                <span class="highlighted__bold">To develop dialogue on critical issues in ways that prompt projects, action and events.</span>
                To build an archive of ideas and images.
                To  highlight politically underdeveloped and neglected  issues and new ways of thinking about familiar ones.
                <span class="highlighted__bold">To enable a space of bilingual exchange between voices of the South and North in and beyond their respective geographies.</span>

            </p>
        </div>
    </div>
	<section class="in-tension__footer">
		<a href="#InTensionPort">
			<div class="displace up">
				<figure class="displace-icon"><img src="/Frontend/assets/icons/displace.svg" alt="icon: desplazamiento"></figure>
			</div>
		</a>
		<iframe class="ftr" src="/Frontend/templates/InTension/footer.html" frameborder="0">
		</iframe>
	</section>
	<script src="/Frontend/script/header.js"></script>
    <script type="text/javascript" src="/Frontend/script/contact.js"></script>


</body>
</html>