<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="../../style/normalize.css">
	<link rel="stylesheet" href="../../style/style.css">
	<link rel="stylesheet" href="../../style/contacto.css">
	<link rel="stylesheet" href="../../style/InTension/in-tension.css">
    <link rel="stylesheet" href="../../style/InTension/footer.css">
	<link rel="stylesheet" href="../../assets/fonts/fonts.css">
</head>
<body>
    <section class="banner">
        <h3>How do you find ways to work with intention in relation to conditions of tension?</h3>
    </section>
    <section class="footer">
        <div class="divs__content">
            <div class="divs div_sites">

            </div>
            <div class="divs div_logo">
                <figure>
                    <img src="../../assets/logos/DD.svg" alt="Logo de Diseño Detonante">
                </figure>
            </div>
            <div class="divs div_contact">
                <div>
                    <figure><img src="../../assets/icons/globe.svg" alt="icon"></figure>
                    <p>in-tension.didetonante.com</p>
                </div>
                <div>
                    <figure><img src="../../assets/icons/mail.svg" alt="icon"></figure>
                    <p>in-tension@didetonante.com</p>
                </div>

            </div>
        </div>

        <script src="/Frontend/script/header.js"></script>
        <script src="/Frontend/script/in-tension.js"></script>

    </section>
</body>
</html>

