<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="/Frontend/style/normalize.css">
	<link rel="stylesheet" href="/Frontend/style/style.css">
	<link rel="stylesheet" href="/Frontend/style/contacto.css">
	<link rel="stylesheet" href="/Frontend/style/InTension/in-tension.css">
    <link rel="stylesheet" href="/Frontend/style/InTension/footer.css">
	<link rel="stylesheet" href="/Frontend/assets/fonts/fonts.css">
</head>
<body>
    <section class="banner">
        <h3>How do you find ways to work with intention in relation to conditions of tension?</h3>
    </section>
    <section class="footer">
        <div class="elements__container">
            <div class="info__box elements_contact">
                <ul class="contact">
                    <li class="item web">
                        in-tension.didetonante.com
                    </li>
                    <li class="item email">
                        in-tension@didetonante.com
                    </li>
                </ul>
            </div>
            <div class="info__box intension_logo">
                <div class="intension--inv">
                    <figure class="in-tension__logo">
                        <img src="/Frontend/assets/logos/intension.svg" alt="Logo de Diseño Detonante">
                    </figure>
                    <p class="intension__text">In-Tension is one modest contribution. It assert a refusal of helplessness as life is lived in the end times.<span class="violet__box">It is a product of difference, a borderland.</span></p>
                </div>
            </div>
            <div class="info__box">
                <div class="cred">
                    <figure class="dd__logo">
                        <img src="/Frontend/assets/logos/DD.svg" alt="Logo de Diseño Detonante">
                    </figure>
                    <figure class="dd__logo">
                        <img src="/Frontend/assets/logos/StudioTEOTW.webp" alt="Logo de Diseño Detonante">
                    </figure>
                </div>
            </div>
        </div>

        <!-- <script src="/Frontend/script/header.js"></script> -->
        <script src="/Frontend/script/in-tension.js"></script>

    </section>
</body>
</html>

