<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>[In/Tension] - Diseño Detonante</title>
	<link rel="stylesheet" href="/Frontend/style//normalize.css">
	<link rel="stylesheet" href="/Frontend/style//style.css">
	<link rel="stylesheet" href="/Frontend/style//contacto.css">
	<link rel="stylesheet" href="/Frontend/style//InTension/in-tension.css">
	<link rel="stylesheet" href="/Frontend/assets/fonts/fonts.css">
	<link rel="stylesheet" href="/Frontend/style/InTension/articles/articles_style.css">

</head>
<body>
	<!-- <main> -->
		<header class="header">
			<div class="header__container">
				<a class="container__logo" href="/Frontend/../index.html">
					<img id="logo" class="header__logo hlogo--color" src="/Frontend/assets/icons/LLAMITA.svg">
				</a>
			</div>
			<div class="intension__container">
				<img class="intension__logo" src="/Frontend/assets/logos/InTension.webp" alt="">
			</div>
			<nav class="header__nav">
				<label class="nav__label">
					<input class="checkbox" type="checkbox">
				</label>
				<ul class="nav__list">
					<li class="list__item item--button"><img class="send__icon" src="/Frontend/assets/icons/align-justify.svg"></li>
					<li class="list__item item--button" onclick="modal('/Frontend/assets/img/nodos/editorial.webp')"><img class="send__icon" src="/Frontend/assets/icons/send-horizontal.svg"></li>

				</ul>
			</nav>
		</header>

		<section class="port">
			<div class="banner">
				<div class="text__line right">
					<p>Weaving social ecologies from refuge and reparation</p>
				</div>
				<div class="text__line left">
					<p>Tejiendo ecologías sociales desde el refugio y la reparación</p>
				</div>
			</div>
			<div class="port__content">
				<figure class="background__image">
					<img class="img_issue" src="/Frontend/assets/img/in_tension/TonyFry_texture.webp" alt="fotografía de portada - In-tension">
				</figure>
				<div class="mask"></div>
				<div class="title__container">
					<p class="issue__title">Prototype edition</p>
				</div>
				<div id="InTensionPort" class="text__container">
					<img class="in-tension_img" src="/Frontend/assets/logos/logoPortadaIntension.webp" style="view-transition-name: logo-intension-start" alt="logo in-tension">
				</div>

				<ul class="section__menu">
					<li>
						About
					</li>
					<li>
						Back Issues
					</li>
					<li>
						Special Issue
					</li>
					<li>
						Support
					</li>
					<li>
						Weaving dialogue
					</li>
					<li>
						Suscribe / Contact
					</li>

				</ul>
				
			</div>
			<div class="displace">
				<figure class="displace-icon"><img src="/Frontend/assets/icons/displace.svg" alt="icon: desplazamiento"></figure>
			</div>
		</section>

		<section class="introduction__section">
			<div class="editorial blend">
			</div>
			<div class="editorial opacity">
			</div>
			<div class="editorial ed__text">
				<p class="editorial__paragraph">
					To be alive now is to exist in a state of betweenness. To be alive has always been in between birth and death, but something fundamental has changed. The existential, psychic and political space of the  in between has expanded and the tension of existing in this space has dramatically expanded, this for everyone everywhere.
				</p>
			</div>
		</section>
		<div class="intersection"></div>
		<div class="section__page page__video">
			<div class="video__container">
				<iframe class="video" title="Macehualopunks (Documental Completo)" width="560" height="315" src="https://lone.earth/videos/embed/014aabba-c3d4-4647-b02b-d486fdf53b2c" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
			</div>
		</div>

		<a href="#content_section">
			<div class="content__button">
				<img src="/Frontend/assets/icons/content__icon.svg" alt="show content icon">
			</div>
		</a>
		<section class="section__page page1">

			<div id="content_section" class="content__box">
				<p class="section__title">Categories</p>
				<div class="articles__box">
					<div class="articles__container">
						<vid class="box__article article__1">
							<a href="/Frontend/templates/InTension/articles/sectionOne/1_editorial/editorial.html">
								<figure>
									<img src="/Frontend/assets/img/in_tension/articles/migracion.webp" alt="">
								</figure>
								<div class="filter-editorial section__one-color issue-color"></div>
								<div class="filters section__one-color"></div>
								<p class="article_description">The team, contact details, imprint...</p>
								<h3 class="h_article">
									<span>Editorial</span>
								</h3>
							</a>
						</vid>
						
						<vid class="box__article article__2">
							<a href="/Frontend/templates/InTension/articles/sectionOne/2_mindField/mindField.html">
								<figure>
									<img src="/Frontend/assets/img/in_tension/articles/migracion.webp" alt="">
								</figure>
								<!-- <div class="filter-selection section__one-color"></div> -->
								<div class="filters filter_red section__one-color"></div>
								<p class="article_description">(the creation of a terrain of psycho-action) The illusion and dangers of the extended mind.</p>
								<h3 class="h_article">
									<span class="mind">Mind</span> <span class="field">Field</span>
								</h3>
							</a>
						</vid>

						<vid class="box__article article__3">
							<a href="/Frontend/templates/InTension/articles/sectionOne/3_mattersOfTension/mattersOfTension.html">
								<figure>
									<img src="/Frontend/assets/img/in_tension/articles/migracion.webp" alt="">
								</figure>
								<div class="filters filter_red section__one-color"></div>
								<p class="article_description">Living in 'the end times' So where do you live.</p>
								<h3 class="h_article">
									<span class="matters">Matters of</span> <span class="tension">Tension</span>
								</h3>
							</a>
						</vid>

						<vid class="box__article article__4">
							<a href="/Frontend/templates/InTension/articles/sectionOne/4_stupidity/stupidity.html">
								<figure>
									<img src="/Frontend/assets/img/in_tension/articles/migracion.webp" alt="">
								</figure>
								<!-- <div class="filter-selection section__one-color"></div> -->
								<div class="filters filter_red section__one-color"></div>
								<p class="article_description">telling stories otherwise</p>
								<h3 class="h_article">
									<span class="stupidity">Stupidity</span>
								</h3>
							</a>
						</vid>

						<vid class="box__article article__5">
							<a href="/Frontend/templates/InTension/articles/sectionOne/5_borderLands/borderLands.html">
								<figure>
									<img src="/Frontend/assets/img/in_tension/articles/migracion.webp" alt="">
								</figure>
								<!-- <div class="filter-selection section__one-color"></div> -->
								<div class="filters filter_red section__one-color"></div>
								<p class="article_description">telling stories otherwise</p>
								<h3 class="h_article">
									<span class="bord">Border</span><span class="lands">Lands</span>
								</h3>
							</a>
						</vid>
						<div class="content__icons filter_section-1">
							<figure>
								<img src="/Frontend/assets/icons/in-tension/content/1_reposo.svg" alt="Ícono de circulo en posición de reposo representando la primera parte de la sección de artículos.">
							</figure>
						</div>
						<!-- <div class="icon">
							<figure>
								<img src="" alt="">
							</figure>
						</div> -->
					</div>
					<div class="articles__container">
						<vid class="box__article article__6">

							<a href="/Frontend/templates/InTension/articles/sectionTwo/6_reEducation/reEducation.html">
								<figure>
									<img src="/Frontend/assets/img/in_tension/articles/Poster 2.webp" alt="">
								</figure>
								<div class="filters filter_violet section__two-color"></div>
								<p class="article_description">Advancing the relational agenda..</p>
								<h3 class="h_article">
									<span class="re">RE</span> <span class="education">Education</span>
								</h3>
							</a>

						</vid>

						<vid class="box__article article__7">
							<a href="/Frontend/templates/InTension/articles/sectionTwo/7_onResistance/onResistance.html">
								<figure>
									<img src="/Frontend/assets/img/in_tension/articles/Poster 2.webp" alt="">
								</figure>
								<div class="filters filter_violet section__two-color"></div>								
								<p class="article_description">Conflict commentary (chronicling its condition of change) Resistances (thinking situated interventions)</p>
								<h3 class="h_article">
									<span class="on">On</span> <span class="resistence">Resistence</span>
								</h3>
							</a>
						</vid>

						<vid class="box__article article__8">
							
							<a href="/Frontend/templates/InTension/articles/sectionTwo/8_fictoFaction/fictoFaction.html">
								<figure>
									<img src="/Frontend/assets/img/in_tension/articles/Poster 2.webp" alt="">
								</figure>
								<div class="filters filter_violet section__two-color"></div>
								<p class="article_description">(reading for relevance)(reading for relevance)</p>
								<h3 class="h_article">
									<span class="ficto">Ficto</span> <span class="factions">Factions</span>
								</h3>
							</a>
						</vid>
						<div class="content__icons filter_section-2">
							<figure>
								<img src="/Frontend/assets/icons/in-tension/content/2_impulso.svg" alt="Ícono de circulo a punto de rodar, representando la segunda parte de la sección de artículos.">
							</figure>
						</div>
						<!-- <div class="icon">
							<figure>
								<img src="" alt="">
							</figure>
						</div> -->
					</div>
					<div class="articles__container">
						<vid class="box__article article__9">
							
							<a href="/Frontend/templates/InTension/articles/sectionThree/9_voices/voices.html">
								<figure>
									<img src="/Frontend/assets/img/in_tension/articles/img3.webp" alt="">
								</figure>
								<div class="filters filter_aquamarine section__three-color"></div>
								<p class="article_description">Advancing the relational agenda..</p>
								<h3 class="h_article">
									<span class="voices">Voices</span> <span class="voices voices_shadow_1">Voices</span><span class="voices voices_shadow_2">Voices</span>
								</h3>
							</a>


						</vid>
						<vid class="box__article article__10">
							
							<a href="/Frontend/templates/InTension/articles/sectionThree/10_reViews/reViews.html">
								<figure>
									<img src="/Frontend/assets/img/in_tension/articles/img3.webp" alt="">
								</figure>
								<div class="filters filter_aquamarine section__three-color"></div>
								<p class="article_description">Advancing the relational agenda..</p>
								<h3 class="h_article">
									<span class="re">RE</span> <span class="views">Views</span>
								</h3>
							</a>

						</vid>
						<vid class="box__article article__11">
							
							<a href="/Frontend/templates/InTension/articles/sectionThree/">
								<figure>
									<img src="/Frontend/assets/img/in_tension/articles/img3.webp" alt="">
								</figure>
								<div class="filters filter_aquamarine section__three-color"></div>
								<div class="circle"></div>
							</a>
						</vid>
						<div class="content__icons filter_section-3">
							<figure>
								<img src="/Frontend/assets/icons/in-tension/content/4_expansión.svg" alt="">
							</figure>
						</div>
						<!-- <div class="icon">
							<figure>
								<img src="" alt="Ícono de círculo en llamas, representando la tercera parte de la sección de artículos.">
							</figure>
						</div> -->
					</div>
				</div>
			</div>			
		</section>
		<div class="back__issues">
			<figure>
				<img src="/Frontend/assets/img/in_tension/issues/arbol.webp" alt="">
			</figure>
			<div class="backdrop_blur"></div>
			<div class="page__3">
				<div class="content__section">
					<p class="section__title">Issues</p>
					<div class="backissues__container">
						<div class="issues issue__0">
							<figure class="background__image">
								<img src="/Frontend/assets/img/in_tension/palestine2025_16x9.webp" alt="">
								<div class="gradient"></div>
							</figure>
							<div class="filter_color color_prototype"></div>
							<div class="filter_color color_prototype-opacity right"></div>
							<div class="filter_color color_none right"></div>
							<div class="filter_color color_none left"></div>
							<div class="text__issue">
								<div class="sup">
									<p class="number-issue">0</p>
									<p class="date-issue">2025</p>
								</div>
								<p class="name-issue">Prototype</p>
							</div>
						</div>
						<div class="issues issue__1">
							<figure class="background__image">
								<img src="/Frontend/assets/img/in_tension/issues/textura_muro.webp" alt="">
								<div class="gradient"></div>
							</figure>
							<div class="filter_color color_borderlands"></div>
							<div class="filter_color color_none right"></div>
							<div class="filter_color color_none left"></div>
							<div class="text__issue">
								<div class="sup">
									<p class="number-issue">1</p>
									<p class="date-issue">2026</p>
								</div>
								<p class="name-issue">Borderlands</p>
							</div>
						</div>
						<div class="issues issue__2">
							<figure class="background__image">
								<img src="/Frontend/assets/img/in_tension/issues/textura_arbol.webp" alt="">
								<div class="gradient"></div>
							</figure>
							<div class="filter_color color_resistances"></div>
							<div class="filter_color color_none right"></div>
							<div class="filter_color color_none left"></div>
							<div class="text__issue">
								<div class="sup">
									<p class="number-issue">2</p>
									<p class="date-issue">2026</p>
								</div>
								<p class="name-issue">Resistances</p>
							</div>
						</div>
						<div class="issues issue__3">
							<figure class="background__image">
								<img src="/Frontend/assets/img/in_tension/issues/arbol.webp" alt="">
								<div class="gradient"></div>
							</figure>
							<div class="filter_color color_genocide"></div>
							<div class="filter_color color_none right"></div>
							<div class="filter_color color_none left"></div>
							<div class="text__issue">
								<div class="sup">
									<p class="number-issue">3</p>
									<p class="date-issue">2027</p>
								</div>
								<p class="name-issue">On Genocide</p>
							</div>
						</div>
					</div>
				</div>
				<div class="intertext">
					<div class="pin"></div>
					<p class="text__box">The intension of this publication is to adress issues of tension understood as matters of concern between people of the global north and south.</p>
				</div>
			</div>
		</div>
		<section class="section__page page__2">
			<div class="backdrop_blur"></div>
			<div class="intertext">
				<div class="pin"></div>
				<p class="text__box">The intension of this publication is to adress issues of tension understood as matters of concern between people of the global north and south.</p>
			</div>
		</section>

		<section class="in-tension__footer">
			<a href="#InTensionPort">
				<div class="displace up">
					<figure class="displace-icon"><img src="/Frontend/assets/icons/displace.svg" alt="icon: desplazamiento"></figure>
				</div>
			</a>
			<iframe class="ftr" src="./footer.html" frameborder="0">
			</iframe>
		</section>

	<script src="/Frontend/script/header.js"></script>
	<script src="../script/in-tension.js"></script>

</body>
</html>
<!-- <div class="video">
	
</div> -->
