<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>[In/Tension] - Diseño Detonante</title>
	<link rel="stylesheet" href="../style/normalize.css">
	<link rel="stylesheet" href="../style/style.css">
	<link rel="stylesheet" href="../style/contacto.css">
	<link rel="stylesheet" href="../style/in-tension.css">

	<link rel="stylesheet" href="../assets/fonts/fonts.css">
</head>
<body>
	<header class="header">
		<div class="header__container">
			<a class="container__logo" href="../../index.html">
				<img id="logo" class="header__logo hlogo--color" src="../assets/icons/LLAMITA.svg">
			</a>
		</div>
		<div class="intension__container">
			<img class="intension__logo" src="../assets/logos/InTension.webp" alt="">
		</div>
		<nav class="header__nav">
			<label class="nav__label">
				<input class="checkbox" type="checkbox">
			</label>
			<ul class="nav__list">
				<li class="list__item"><a class="item__link" href="#intension">IN/TENSION</a></li>
				<li class="list__item item--button"><img class="send__icon" src="../assets/icons/align-justify.svg"></li>
				<li class="list__item item--button" onclick="modal('../assets/img/nodos/editorial.webp')"><img class="send__icon" src="../assets/icons/send-horizontal.svg"></li>

			</ul>
		</nav>
	</header>

	<div class="port">
		<div class="banner">
			<div class="text__line right">
				<p>Weaving social ecologies from refuge and reparation</p>
			</div>
			<div class="text__line left">
				<p>Tejiendo ecologías sociales desde el refugio y la reparación</p>
			</div>
		</div>
		<div class="port__content">
			<img class="background_image" src="../assets/img/in_tension/palestine2025_16x9.webp" alt="fotografía de portada - In-tension">
			<div class="mask"></div>
			<div class="title__container">
				<p class="issue__title">Prototype edition</p>
			</div>
			<div class="text__container">
				<img class="in-tension_img" src="../assets/logos/logoPortadaIntension.webp" style="view-transition-name: logo-intension-start" alt="logo in-tension">
				<!-- <p class="intext">To be alive now is to exist in a state of betweenness. To be alive has always been in between birth and death, but something fun-damental has changed. The existential, psychic and po-litical space of the in be-tween has expanded and the tension of existing in this space has dramatically expanded, this for everyone.</p> -->
			</div>

			<ul class="section__menu">
				<li>
					Issues
				</li>
				<li>
					Specials
				</li>
				<li>
					About
				</li>
				<li>
					Suport
				</li>
				<li>
					Contact
				</li>
				<li>
					Weave with others
				</li>

			</ul>
			
		</div>
		<div class="displace"></div>
	</div>

	<div class="introduction__section">
		<div class="editorial blend">
		</div>
		<div class="editorial opacity">
		</div>
		<div class="editorial ed__text">
			<p class="editorial__paragraph">
				To be alive now is to exist in a state o betweenness. To be alive has always been in between birth
				and death, but something fundamental has changed. The existencial, psychic and political space of
				the in between has expanded and the tension of sxisting in this space has dramatically expanded,
				this for everyone everywhere.
			</p>
		</div>
		<!-- <div class="video">
			
		</div> -->
	</div>
	<div class="section__page page__0">
		<div class="video__container">
			<iframe class="video" title="Macehualopunks (Documental Completo)" width="560" height="315" src="https://lone.earth/videos/embed/014aabba-c3d4-4647-b02b-d486fdf53b2c" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
			<!-- <iframe class="video" title="" width="560" height="315" src="https://peertube.mesnumeriques.fr/videos/embed/bbd99102-7698-43fd-a3c5-12942ac4dc10" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe> -->
			<!-- <iframe class="video" title="The Optical Sound Decoder: An exploration of old film technology" src="https://veedeo.org/videos/embed/359fc746-a385-4a2f-802d-4842b87fd30a" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe> -->
			<!-- <iframe class="video" src="https://fast.wistia.net/embed/iframe/tjt8h0uypv" frameborder="0"></iframe> -->
		</div>                         

	</div>
	<div class="section__page page1">
		<div class="issues__container sup">
			<vid class="issue__1"></vid>
			<vid class="issue__2"></vid>
		</div>
		<div class="issues__container">
			<vid class="issue__3"></vid>
			<vid class="issue__4"></vid>
			<vid class="issue__5"></vid>
			<vid class="issue__6"></vid>
		</div>
	</div>
	<div class="section__page page2">
		<div class="issues__container">
			<vid class="issue__1"></vid>
			<vid class="issue__2"></vid>
			<vid class="issue__3"></vid>
		</div>
	</div>
	<div class="section__page page3">
		<div class="issues__container">
			<vid class="issue__1"></vid>
			<vid class="issue__2"></vid>
			<vid class="issue__3"></vid>
		</div>
	</div>
	<dialog class="send modal modal-style">
		<div class="modal__container">
			<div class="modal__content">
				<form class="form contact__form">
					<p class="title--mod form__title">¡Detónese!</p>
					<div class="form__item">
						<div class="form__item">
							<input id="name" class="item__input" type="text" placeholder="Nombre / pseudónimo." value="Dessagrado" spellcheck="false" required>
						</div>
						<div class="form__item" >
							<input id="organization" class="item__input" type="text" placeholder="Colectividad / organización." value="Monstruosa" spellcheck="false">
						</div>
						<div class="form__item" >
							<input id="email" class="item__input" type="email" placeholder="Correo electrónico." value="dessagrado@gmail.com" spellcheck="false" required>
						</div>
						<div class="form__item" class="form__item" >
							<select id="project" class="item__input" name="choice">
								<option value="In/Tension" selected>In/Tension</option>
								<option value="Monstruosa">Monstruosa</option>
								<option value="Burbujas de autonomía">Burbujas de autonomía</option>
								<option value="Ficción Mutante">Ficción Mutante</option>
								<option value="Lumbre en el viento">Lumbre en el viento</option>
							</select>
						</div>
						<div class="form__item">
							<textarea id="message" class="item__textarea" rows="6" placeholder="Escríbanos sus ideas, reflexiones, preguntas, comentarios, etc." spellcheck="false">Espero poder participar en uno de sus proyectos, escribo para poder estar informadx de lo que se viene.</textarea>
						</div>
					</div>
					<button id="check_button" class="modal__button button__action button__send" onclick="Post()"><img src="../assets/icons/send-horizontal.svg"></button>
					<button id="close_button" class="modal__button button__close" onclick="closeModal()"><img src="../assets/icons/x.svg" alt="sendbutton"></button>
				</form>
				<form class="form donate__form">
					<p class="title--mod form__title">Control</p>
					<div class="form__item">
						<div class="form__item">
							<input id="key" class="item__input" type="number" placeholder="Código" required>
						</div>
						<div class="form__item" >
							<p class="print"></p>
						</div>
					</div>
					<button class=" button__close  button__showdonate" onclick="ShowControl()"><img src="../assets/icons/x.svg" alt="closebutton"></button>
					<button id="" class="modal__button button__action button__get" onclick="Get()"><img src="../assets/icons/target.svg"></button>
					<button id="" class="modal__button button__action button__put" onclick="Put()"><img src="../assets/icons/chevrons-left-right-ellipsis.svg"></button>
					<button id="check_button" class="modal__button button__action button__delete" onclick="Delete()"><img src="../assets/icons/trash-2.svg"></button>
				</form>
			</div>
		</div>
	</dialog>
	<script type="text/javascript" src="../script/header.js"></script>
	<script type="text/javascript" src="../script/script.js"></script>
    <div class="contenido">
    </div>
</body>
</html>
