<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="estudio, diseño, autonomía, nómada, comunidad, reconocimiento, ficción, anarquía, acción, cuestionamiento, antisistema">
	<meta name="description" content="Estudio nómada experimental que busca cuestionar y transformar realidades a partir de la ficción y el reconocimiento">
	<meta name="author" content="Diseño Detonante">
	<meta property="og:type" content="website">
	<meta property="og:url" content="#">
	<meta property="og:title" content="Diseño Detonante">
	<meta property="og:description" content="Estudio nómada experimental que busca cuestionar y transformar realidades a partir de la ficción y el reconocimiento">
	<meta property="og:image" content="./assets/img/meta.JPG">

    <title>[Nosotrxs] - Diseño Detonante</title>
	<link rel="stylesheet" href="../style/style.css">
	<link rel="stylesheet" href="../style/contacto.css">
    <link rel="stylesheet" href="../style/nosotrxs.css">
	<link rel="stylesheet" href="../assets/fonts/montserrat-font_T/Montserrat.css">
	<link rel="stylesheet" href="../assets/fonts/alte_haas_grotesk_T2/AlteHaasGrotesk.css">
<!--	<script src="../script/script.js"></script>-->
</head>
<body class="background">
	<header class="header">
		<div class="header__container">
			<a class="container__logo" href="../index.html">
				<img id="logo" class="header__logo hlogo--color" src="../assets/icons/LLAMITA.svg">
				<p class="didetonante">Diseño <strong>Detonante</strong></p>
			</a>
		</div>
		<nav class="header__nav">
			<ul class="nav__list">
				<li class="list__item"><a class="item__link" href="../index.html">Inicio</a></li>
				<li class="list__item"><a class="item__link" href="#">Nosotrxs</a></li>
				<li class="list__item"><a class="item__link" href="accionar.html">Accionares</a></li>
				<li class="list__item"><a class="item__link" href="in-tension.html">In-Tension</a></li>
				<li class="list__item item--button button--open"><img class="hicon--color" src="../assets/icons/send-horizontal.svg"></li>
			</ul>
		</nav>
	</header>
    <dialog class="modal">
		<div class="modal__container">
			<form class="form">
				<h2 class="form__title">¡Detónese!</h2>
				<div class="form__item">
					<input class="item__input" type="text" placeholder="Nombre">
				</div>
				<div class="form__item" >
					<input class="item__input" type="email" placeholder="Correo electrónico">
				</div>
				<div class="form__item">
					<textarea class="item__textarea" rows="10" placeholder="Escríbanos un mensaje"></textarea>
				</div>
				<button class="button--close">Después</button>
			</form>
		</div>
    </dialog>
<!--     <script src="script/script.js"></script> -->
<!--    <div class="contenido">
    </div>-->
	<section class="section__div">
		<div class="section__div-image">
			<img class="image__item" src="../assets/img/Nosotrxs.webp">
		</div>
		<div class="section__div-title">
			<p class="title__item" >
				Nosotrxs
			</p>
		</div>
		<div class="section__div-paragraph">
			<p class="paragraph__item" >
				Este es el texto que tendremos en cada sección en modo de descripción de la misma.
				Lo que se quiere con esta es que sea una especie de portada general en cada parte global.
			</p>
		</div>
	</section>

	<section class="section__div invert">
		<div class="section__div-image">
			<img class="image__item" src="../assets/img/Accionares.webp">
		</div>
		<div class="section__div-title">
			<p class="title__item" >
				Accionares
			</p>
		</div>
		<div class="section__div-paragraph">
			<p class="paragraph__item" >
				Este es el texto que tendremos en cada sección en modo de descripción de la misma.
				Lo que se quiere con esta es que sea una especie de portada general en cada parte global.
			</p>
		</div>
	</section>
	<script src="../script/script.js"></script>
	<script src="../script/sec__page.js"></script>
</body>
</html>
