
@font-face {
    font-family: Brant;
    src: url("MontserratExtrabold-qZ7Rx.otf") format("opentype");
}

@font-face {
    font-family: Brant;
    font-weight: bold;
    src: url("MontserratExtrabold-qZ7Rx.otf") format("opentype");
}
